---
import Layout from "@/layouts/NormalLayout.astro";
---

<Layout title = "ESP Racing: pastchamp 2022">
  <h2 class = "text-5xl font-bold text-center border-b-2 border-[#da392b] w-fit mx-auto mb-8 mt-5">Campeonatos 2022</h2>

  <div id="camp2022" class="text-center grid gap-4 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">Campeonato Audi TT Cup ESP Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/01-AudiTTCartel.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2022/01-AudiTTClasifInd.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2022/01-AudiTTClasifEq.webp">
    </div>

    <div class = "mb-5">
      <a class="mt-5 py-6 text-xl font-medium">Fixed Top Car Championship ESP Racing (CANCELADO)</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/02-TopCarCartel.webp">
    </div>

    <div class = "mb-5">
      <a class="mt-5 py-6 text-xl font-medium">Campeonato Open ESP Racing F1 2005 (CANCELADO)</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/02-F12005Cartel.webp">
    </div>

    <div class = "mb-5">
      <a class="mt-5 py-6 text-xl font-medium">Campeonato BMW M2 CS Esp Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/03-BMWM2Cartel.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/03-BMWM2ClasifInd.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/03-BMWM2ClasifEq.webp">
    </div>

    <div class = "mb-5">
      <a class="mt-5 py-6 text-xl font-medium">Campeonato TNC3 Esp Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/04-TNC3Cartel.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/04-TNC3ClasifInd.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/04-TNC3ClasifEq.webp">
    </div>

  </div>

  <h2 class = "text-5xl font-bold text-center border-b-2 border-[#da392b] w-fit mx-auto mb-8">Eventos 2022</h2>

  <div id="camp2022" class="text-center grid gap-4 grid-cols-1 lg:grid-cols-2">

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">Evento Resistencia ESP Racing 3 Horas Buenos Aires</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/00-EventoArgentinaCartel.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2022/00-EventoArgentinaClasif.webp">
    </div>

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">2 Horas Clio VS M2 CS ESP Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/00-ClioM2Cartel.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2022/00-ClioM2ClasifGeneral.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2022/00-ClioM2ClasifClio.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2022/00-ClioM2ClasifM2.webp">
    </div>

  </div>
</Layout>