---
import Layout from "@/layouts/NormalLayout.astro";
---

<Layout title = "ESP Racing: pastchamp 2023">
  <h2 class = "text-5xl font-bold text-center border-b-2 border-primary w-fit mx-auto mb-8 mt-5">Campeonatos 2023</h2>

  <div id="camp2023" class="text-center grid gap-4 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">Ferrari Challenge Japón ESP Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/01-FerrariCartel.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2023/01-FerrariClasifInd.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2023/01-FerrariClasifEq.webp">
    </div>

    <div class = "mb-5">
      <a class="mt-5 py-6 text-xl font-medium">Prototype P2P Esp Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/02-ProtoCartel.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/02-ProtoClasifInd.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/02-ProtoClasifEq.webp">
    </div>

    <div class = "mb-5">
      <a class="mt-5 py-6 text-xl font-medium">Campeonato BTCC 2019 Esp Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/03-BTCCCartel.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/03-BTCCClasifInd.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/03-BTCCClasifEq.webp">
    </div>

    <div class = "mb-5">
      <a class="mt-5 py-6 text-xl font-medium">Campeonato DTM 2020 Esp Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/04-DTMCartel.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/04-DTMClasifInd.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/04-DTMClasifEq.webp">
    </div>

    <div class = "mb-5">
      <a class="mt-5 py-6 text-xl font-medium">Campeonato Civic JTC Esp Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/05-CivicCartel.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/05-CivicClasifInd.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/05-CivicClasifEq.webp">
    </div>

  </div>

  <h2 class = "text-5xl font-bold text-center border-b-2 border-primary w-fit mx-auto mb-8">Eventos 2023</h2>

  <div id="camp2023" class="text-center grid gap-4 grid-cols-1 lg:grid-cols-2">

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">Evento Navidad Le Mans ESP Racing y LaCueva</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/00-LeMans67Cartel.webp">
    </div>

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">Evento Veraniego Shibuya RX ESP Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/00-Verano1.webp">
    </div>

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">2º Evento Veraniego Miami RX ESP Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/00-Verano2.webp">
    </div>

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">2 Horas Clio VS Garage56 ESP Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2023/00-PretemporadaCartel.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2023/00-PretemporadaClasif.webp">
    </div>

  </div>
</Layout>