---
import Layout from "@/layouts/NormalLayout.astro";
---

<Layout title = "ESP Racing: pastchamp 2024">
  <h2 class = "text-5xl font-bold text-center border-b-2 border-primary w-fit mx-auto mb-8 mt-5">Campeonatos 2024</h2>

  <div id="camp2024" class="text-center grid gap-4 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">Campeonato Tatuus FT-60 ESP Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2024/01-TatuusCartel.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2024/01-TatuusClasifInd.webp">
      <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2024/01-TatuusClasifEq.webp">
    </div>

    <div class = "mb-5">
      <a class="mt-5 py-6 text-xl font-medium">Super Campeonato de Mini Resistencias Esp Racing</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2024/02-EnduranceCartel.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2024/02-EnduranceClasifInd.webp">
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2024/02-EnduranceClasifEq.webp">
    </div>

  </div>

  <h2 class = "text-5xl font-bold text-center border-b-2 border-primary w-fit mx-auto mb-8">Eventos 2024</h2>

  <div id="camp2024" class="text-center grid gap-4 grid-cols-1 lg:grid-cols-2">

    <div class = "mb-5">
      <a class="py-6 text-xl font-medium">Evento Pretemporada ESP Racing 24/25</a>
      <img class = "mx-auto mb-1" style="witdh = 95%" src="/img/pastchamp/2024/00-PretemporadaCartel.webp">
      <!-- <img class = "mx-auto" style="witdh = 95%" src="/img/pastchamp/2024/00-PretemporadaClasif.webp"> -->
    </div>

  </div>
</Layout>