---
import Layout from "@/layouts/NormalLayout.astro";
import AboutUs from "@/sections/AboutUs.astro";
---
<Layout title="ESP Racing: Sobre Nosotros">
  <section class = "bg-white">
		<div class = "max-w-screen-xl px-4 py-16 mx-auto lg:items-center">
			<h1 class = "text-center bg-gradient-to-r from-[#da392b] to-[#fcba02] bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl">
				Sobre Nosotros
			</h1>
			<p class = "mx-auto mt-4 max-w-6xl text-justify text-[#0f0f0f] sm:text-xl/relaxed">
				Somos una comunidad de simracing de iniciación, que desde 2020 a estado
        organizando carreras para todo el munddo en casi cualquier disciplina del
        automovilismo virtual. Desde 2021, hay una nueva gestión de la comunidad,
        que trata de ofrecer una oportunidad a aquellas personas que quieren
        iniciarse en este mundo de las carreras, y nosotros le ayudamos a dar esos
        primeros pasos para que esto pueda llegar a ser de un hobby, a una pasión.
			</p>
      <p class = "mx-auto mt-4 max-w-6xl text-justify text-[#0f0f0f] sm:text-xl/relaxed">
        A parte de estar encargados de está comunidad, varios administradores
        de aqui, están tambien al mando de otro proyecto similar, llamado
        "FunACComunnity", donde las carreras que se realizán son más relajadas
        y para echar el rato con la gente y hacer piña entre todos.
      </p>
	  </div>
	</section>
  <AboutUs />
</Layout>