---
import Layout from "@/layouts/NormalLayout.astro";
import YTVideo from "@/components/YoutubeVideo.astro";
---

<Layout title="ESP Racing: Información Campeonato Actual">
  <h1 class="py-5 text-3xl font-extrabold text-center text-white sm:text-5xl">
    Campeonato Actual
  </h1>
  <img
    class="block w-4/5 mx-auto mb-16"
    src="/img/actualchamp/CartelCampeonato.webp"
    alt="Campeonato Actual"
  >
  <YTVideo
  videolink="oZaTOR-k5Ik"
  />
</Layout>
