---
import Layout from "@/layouts/NormalLayout.astro";
import ContactForm from "@/sections/ContactForm.astro";
---
<Layout title = "ESP Racing: Contacto">
  <h1 class = "pt-5 text-3xl font-extrabold text-center text-white sm:text-5xl">
    Contacto
  </h1>
  <p class = "max-w-6xl mx-auto my-4 text-justify text-white sm:text-lg/relaxed">
    Ponte en contacto con nosotros a traves de este formulario. Asegurate de poner bien
    tu usario de Discord, ya que es nuestra forma de contactar contigo. Si no tienes una
    cuenta de Discord, en el mensaje indicanos tu correo electrónico.
  </p>
  <ContactForm />

</Layout>