---
import Layout from "@/layouts/NormalLayout.astro";
import ContactForm from "@/components/ContactForm.astro";
---
<Layout title = "ESP Racing: Contacto">
  <h1 class = "text-center text-white text-3xl pt-5 font-extrabold sm:text-5xl">
    Contacto
  </h1>
  <p class = "mx-auto my-4 max-w-6xl text-justify text-white sm:text-lg/relaxed">
    Ponte en contacto con nosotros a traves de este formulario. Asegurate de poner bien
    tu usario de Discord, ya que es nuestra forma de contactar contigo. Si no tienes una
    cuenta de Discord, en el mensaje indicanos tu correo electrónico.
  </p>
  <ContactForm />

</Layout>