---
import Layout from "@/layouts/NormalLayout.astro";
import { supabase } from "@/db/supabase";
import { DataTable } from "@/components/data-table";

const { data: UsersData, error: errorUsers } = await supabase
  .from("profiles")
  .select('full_name, avatar, races, wins, podiums, flaps, poles, top5, top10, dnf, team(name)')
  .order('full_name', { ascending: true });

if(errorUsers) {
  console.error(errorUsers);
}
// Definición de columnas para coches
const userColumns = [
  { header: "Nombre", accessor: "full_name" },
  { header: "Equipo", accessor: "team.name" },
  { header: "Carreras", accessor: "races" },
  { header: "Victorias", accessor: "wins" },
  { header: "Podios", accessor: "podiums" },
  { header: "V. Rápidas", accessor: "flaps" },
  { header: "Poles", accessor: "poles" },
  { header: "Top5", accessor: "top5" },
  { header: "Top10", accessor: "top10" },
  { header: "DNF", accessor: "dnf" }
];
---

<Layout title="ESP Racing: Pilotos">
  <div class="py-4 mx-auto text-center" style="width: 99%">
    <h2 class="text-5xl font-bold border-b border-primary w-fit mx-auto">
      Tabla de Pilotos
    </h2>
    <div class="px-3 mt-6">
      <DataTable
        client:only="react"
        data={UsersData ?? []}
        columns={userColumns}
        onEdit={false}
        onDelete={false}
        pageSize={10}
        searchable={true}
        searchPlaceholder="Buscar por nombre, equipo, carreras, ..."
        searchableColumns={[
          {accessor: "full_name"},
          {accessor: "team.name"},
          {accessor: "races"},
          {accessor: "wins"},
          {accessor: "podiums"},
          {accessor: "flaps"},
          {accessor: "poles"},
          {accessor: "top5"},
          {accessor: "top10"},
          {accessor: "dnf"}
        ]}
      />
    </div>
  </div>
</Layout>
