---
import Layout from "@/layouts/NormalLayout.astro";
import FAQ from "@/sections/FAQ.astro";
---

<Layout title = "ESP Racing: Preguntas Frecuentes">
  <h1 class = "text-center text-white text-3xl py-5 font-extrabold sm:text-5xl">
    Preguntas Frecuentes
  </h1>
  <FAQ />
</Layout>