---
import Layout from "@/layouts/NormalLayout.astro";
import FuelCalculatorForm from "@/sections/FuelCalculatorForm.astro";
---

<Layout title = "ESP Racing: Calculadora de Combustible">
  <h1 class = "pt-5 px-4 text-3xl font-extrabold border-b-4 border-primary w-fit mx-auto text-lightPrimary sm:text-5xl">
    Calculadora de Combustible
  </h1>
  <p class = "mx-auto mt-4 max-w-7xl text-justify  sm:text-xl/relaxed">
    Elige el coche, consumo, el nº de vueltas o tiempo de carrera, tiempo por vuelta y obten la posible estratégia de carrera.
  </p>
  <FuelCalculatorForm />
</Layout>