---
import Layout from "@/layouts/NormalLayout.astro";
import CardIndex from "@/sections/CardsIndex.astro";
---

<Layout title="ESP Racing: Inicio">
  <div>
		<h1 class = "font-atomic">
			ESP RACING: Tu comunidad de iniciación al mundo del Simracing
		</h1>
		<p>
			Llevamos ya dos años con la nueva gestión y creemos que la comunidad ha
			sabido adaptarse a los cambios que esta necesitaba, apostando por un grupo
			de personas comprometidas a un mismo proyecto, tanto usuarios del staff como
			con los propios pilotos, en definitiva mas sencilla y menos compleja, donde
			lo mas importante sea correr y el respeto en nuestras carreras, apostando
			por unas normas de convivencia mínimas, dentro y fuera de la pista, en
			nuestro Discord podrás encontrar toda la información que necesites..
		</p>
	</div>
	<CardIndex />
</Layout>
