---
import Layout from "@/layouts/NormalLayout.astro";
import ButtonProfiles from "@/components/ButtonProfiles.astro";
import { supabase } from "@/db/supabase";
import { type Database } from "@/types/supabase";
import { turso } from "@/turso";

const resetPass = async (formData: FormData) => {
    const origin = window.location.origin;
    const email = formData.get("email") as string;
    const { data, error } = await supabase.auth.resetPasswordForEmail(email, {
      redirectTo: "${origin}/modpassword}",
    });
    if (error) {
      console.error(error);
      return;
    }
  };

---

<Layout title="ESP Racing: Recuperar Contraseña">
  <h2 class="text-5xl font-bold border-b border-[#da392b] w-fit mx-auto mt-5">
    Recuperar Contraseña
  </h2>
  <!-- action={resetPass}  (dentro del form)-->
  <form
    class="flex flex-col mt-5 w-4/5 mx-auto"
  ></form>
    <label class="mt-5 text-lg font-semibold" for="email"
      >Email de Usuario</label
    >
    <input
      type="email"
      name="email"
      class="bg-[#19191c] text-[#f9f9f9] text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
    />

    <div>
      <button
        class="py-1.5 px-3 w-fit mr-2 bg-[#0f0f0f] text-white border-[#29dd38] border-2 rounded-md my-4 font-medium text-lg hover:bg-[#29dd38] hover:text-[#0f0f0f]"
      >
        Aceptar
      </button>
    </div>
  </form>
</Layout>
