---
import Layout from "@/layouts/ProfileLayout.astro";
import ButtonProfiles from "@/components/ButtonProfiles.astro";
import { supabase } from "@/lib/supabase";
import { type Database } from "@/types/supabase";
import { turso } from "@/turso";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

// Set the session with the cookies
const { data: dataAuth, error: errorAuth } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

// If there is an error, delete the cookies and redirect to login
if (errorAuth) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const id = dataAuth?.user?.id || "";
const rol = dataAuth?.user?.role;

// Get user data

---

<Layout title="ESP Racing: Modificar datos">
  <h2 class="text-5xl font-bold border-b border-[#da392b] w-fit mx-auto">Modificar Perfil</h2>
  <form
    action = "/api/auth/modpassword"
    method = "post"
    class = "flex flex-col mt-5">
    <label class="mt-5 text-lg font-semibold" for = "name">Contraseña Antigua:</label>
    <input
      type = "text"
      name = "name"
      class = "bg-[#19191c] text-[#f9f9f9] text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
      >

    <label class="mt-5 text-lg font-semibold" for = "steam_id">Nueva Contraseña:</label>
    <input
      type = "text"
      name = "steam_id"
      class = "bg-[#19191c] text-[#f9f9f9] text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
      >

    <label class="mt-5 text-lg font-semibold" for = "steam_id">Repita la Contraseña Nueva:</label>
    <input
      type = "text"
      name = "steam_id"
      class = "bg-[#19191c] text-[#f9f9f9] text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
      >
    <input type="hidden" name="id" value={id}>

  <div>
    <button
      type="submit"
      class="py-1.5 px-3 w-fit mr-2 bg-[#0f0f0f] text-white border-[#29dd38] border-2 rounded-md my-4 font-medium text-lg hover:bg-[#29dd38] hover:text-[#0f0f0f]">
      Aceptar
    </button>

    <button
      onclick="window, location.href = '/myprofile'"
      class="py-1.5 px-3 w-fit bg-[#0f0f0f] text-white border-[#da392b] border-2 rounded-md my-4 font-medium text-lg hover:bg-[#da392b] hover:text-[#0f0f0f]">
      Cancelar
    </button>
  </div>

  </form>
</Layout>