---
import Layout from "@/layouts/ProfileLayout.astro";
import { supabase } from "@/db/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

// Set the session with the cookies
const { data: dataAuth, error: errorAuth } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

// If there is an error, delete the cookies and redirect to login
if (errorAuth) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const id = dataAuth?.user?.id || "";

// Get user data
const { data: userData } = await supabase
  .from("profiles")
  .select("id, full_name, steam_id")
  .eq("id", id)
  .single();
---

<Layout title="ESP Racing: Modificar datos">
  <h2 class="text-5xl font-bold border-b border-primary w-fit mx-auto">
    Modificar Perfil
  </h2>
  <form
    id="profileForm"
    class="flex flex-col mt-5"
  >
    <label class="mt-5 text-lg font-semibold" for="name">Nombre:</label>
    <input
      type="text"
      name="name"
      value={userData?.full_name?.toString() ?? "No hay nombre"}
      class="bg-darkSecond text-lightPrimary text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
    />

    <label class="mt-5 text-lg font-semibold" for="steam_id">Steam ID:</label>
    <input
      type="text"
      name="steam_id"
      value={userData?.steam_id.toString() ?? "No hay Steam ID"}
      class="bg-darkSecond text-lightPrimary text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
    />
    <input type="hidden" name="id" value={userData?.id} />

    <div>
      <button
        type="submit"
        class="py-1.5 px-3 w-fit mr-2 bg-darkPrimary text-white border-[#29dd38] border-2 rounded-md my-4 font-medium text-lg hover:bg-[#29dd38] hover:text-darkPrimary"
      >
        Aceptar
      </button>

      <button
        onclick="window, location.href = '/myprofile'"
        class="py-1.5 px-3 w-fit bg-darkPrimary text-white border-primary border-2 rounded-md my-4 font-medium text-lg hover:bg-primary hover:text-darkPrimary"
      >
        Cancelar
      </button>
    </div>
  </form>
</Layout>

<script>
  const form = document.getElementById('profileForm');

  if (form) {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formData = new FormData(form as HTMLFormElement);

      try {
        const response = await fetch('/api/datamodification/modprofile', {
          method: 'POST',
          body: formData,
        });

        if (!response.ok) {
          const errorData = await response.json();
          throw new Error(errorData.message || 'Error al actualizar el perfil');
        }

        // Redireccionar a myprofile tras éxito
        window.location.href = '/myprofile';
      } catch (error) {
        console.error('Error:', error);
        alert('Error al actualizar el perfil: '+error);
      }
    });
  }
</script>