---
import Layout from "@/layouts/ProfileLayout.astro";
import { supabase } from "@/db/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

// Set the session with the cookies
const { data: dataAuth, error: errorAuth } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

// If there is an error, delete the cookies and redirect to login
if (errorAuth) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const id = dataAuth?.user?.id || "";

const {data: TeamData} = await supabase
  .from("team")
  .select("name, description, image, id, profiles!inner(id)")
  .eq("profiles.id", id)
  .single();
---

<Layout title="ESP Racing: Modificar Equipo">
  <h2 class="text-5xl font-bold border-b border-primary w-fit mx-auto">Modificar Perfil de Equipo</h2>
  <form
    id="teamForm"
    class="flex flex-col mt-5"
    class = "flex flex-col mt-5">
    <label class="mt-5 text-lg font-semibold" for = "name">Nombre de Equipo:</label>
    <input
      type = "text"
      name = "name"
      value = {TeamData?.name.toString()}
      class = "bg-dark-second text-light-primary text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px"
      >

    <label class="mt-5 text-lg font-semibold" for = "description">Descripción:</label>
    <textarea
      id = "description"
      name = "description"
      class = "bg-dark-second text-light-primary text-lg w-11/12 border-none rounded-md p-2 ml-1 mt-px max-h-96 min-h-28 resize-y"
    >{TeamData?.description}
    </textarea>

    <input type="hidden" name="team_id" value={TeamData?.id?.toString()}>

    <div>
      <button
        type="submit"
        class="py-1.5 px-3 w-fit mr-2 bg-dark-primary text-light-primary border-[#29dd38] border-2 rounded-md my-4 font-medium text-lg hover:bg-[#29dd38] hover:text-dark-primary">
        Aceptar
      </button>

      <button
        onclick="window, location.href = '/myteam'"
        class="py-1.5 px-3 w-fit bg-dark-primary text-light-primary border-primary border-2 rounded-md my-4 font-medium text-lg hover:bg-primary hover:text-dark-primary">
        Cancelar
      </button>
    </div>

  </form>
</Layout>

<script>
  const form = document.getElementById('teamForm');

  if (form) {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formData = new FormData(form as HTMLFormElement);

      try {
        const response = await fetch('/api/datamodification/modteamprofile', {
          method: 'POST',
          body: formData,
        });

        if (!response.ok) {
          const errorData = await response.json();
          throw new Error(errorData.message || 'Error al actualizar el equipo');
        }

        // Redireccionar a myprofile tras éxito
        window.location.href = '/myteam';
      } catch (error) {
        console.error('Error:', error);
        alert('Error al actualizar el equipo: '+error);
      }
    });
  }
</script>