---
import Layout from "@/layouts/NormalLayout.astro";
import Twitter from "@/components/LastTweets.astro";
---

<Layout title="ESP Racing: Noticias">
  <h1 class="text-center text-white text-3xl py-5 font-extrabold sm:text-5xl">
    Ultimas noticias (via Twitter / X)
  </h1>
  <Twitter />
</Layout>
