---
import Layout from "@/layouts/NormalLayout.astro";
import Twitter from "@/components/LastTweets.astro";
---

<Layout title="ESP Racing: Noticias">
  <h1 class="py-5 text-3xl font-extrabold text-center text-light-primary sm:text-5xl">
    Ultimas noticias (via Twitter / X)
  </h1>
  <Twitter />
</Layout>
