---
import Layout from "@/layouts/NormalLayout.astro";

---

<Layout title="ESP Racing: Recuperar Contraseña">
  <h2 class="text-5xl font-bold border-b border-primary w-fit mx-auto mt-5">
    Recuperar Contraseña
  </h2>
  <!-- action={resetPass}  (dentro del form)-->
  <form
  id="passForm"
  class="flex flex-col mt-5 mx-auto"
  method="POST"
>
  <label class="mt-5 ml-3 text-lg font-semibold" for="email">
    Email de Usuario
  </label>
  <input
    type="email"
    id="email"
    name="email"
    required
    class="ml-3 bg-dark-second text-light-primary text-lg border-none rounded-md p-2 mt-px"
    style="width: 98%"
  />

  <div>
    <button
      type="submit"
      class="ml-3 py-1.5 px-3 w-fit mr-2 bg-dark-primary text-light-primary border-[#29dd38] border-2 rounded-md my-4 font-medium text-lg hover:bg-[#29dd38] hover:text-dark-primary"
    >
      Aceptar
    </button>
  </div>
</form>
</Layout>

<script>
  const form = document.getElementById('passForm');

  if (form) {
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formData = new FormData(form as HTMLFormElement);

      try {
        const response = await fetch('/api/auth/recoverpassword', {
          method: 'POST',
          body: formData,
        });

        if (!response.ok) {
          const errorData = await response.json();
          throw new Error(errorData.message || 'Error al enviar email');
        }
        else{
          alert('Email enviado con éxito');
        }

        // Redireccionar a login tras éxito
        window.location.href = '/login';
      } catch (error) {
        console.error('Error:', error);
        alert('Error al enviar email: '+error);
      }
    });
  }
</script>
