---
import Layout from "@/layouts/NormalLayout.astro";

---
<Layout title="Recuperar Contraseña">
  <div
    class="absolute bottom-0 left-0 w-full h-full overflow-hidden leading-5 bg-[#f0f0f0] top-72 -z-10 bg-gradient-to-b from-primary via-primary to-darkPrimary"
  >
  </div>

  <div
    class="relative justify-center min-h-screen bg-transparent shadow-xl sm:flex sm:flex-row rounded-3xl"
  >
    <div
      class="z-10 flex flex-col self-center lg:px-14 sm:max-w-4xl xl:max-w-md"
    >
      <div class="flex-col self-start hidden text-lightPrimary lg:flex">
        <h1 class="my-3 text-4xl font-semibold">Recuperación de Contraseña</h1>
        <p class="pr-3 text-sm opacity-90">
          Introduce tu email, y te enviaremos un correo para volver
          a introducir de nuevo tu nueva contraseña.
        </p>
      </div>
    </div>

    <form id="passForm" class="z-10 flex self-center justify-center">
      <div class="p-12 mx-auto bg-lightPrimary rounded-3xl w-96">
        <div class="mb-7">
          <h3 class="text-2xl font-semibold text-gray-800">Email de la cuenta*</h3>
        </div>
        <div class="space-y-6">
          <input
            class="w-full px-4 py-3 text-sm text-darkPrimary bg-gray-200 border border-gray-200 rounded-lg focus:bg-gray-100 focus:outline-none focus:border-darkPrimary focus:text-darkSecond"
            type="text"
            name="email"
            id="email"
            placeholder="Email"
          />
          <button
            type="submit"
            class="flex justify-center w-full p-3 font-semibold tracking-wide text-gray-100 transition duration-300 ease-in bg-primary border-2 border-lightPrimary rounded-lg cursor-pointer hover:border-primary hover:bg-lightPrimary hover:text-primary"
          >
            Enviar Petición
          </button>

          <button
            type="button"
            onclick="window, location.href = '/login'"
            class="flex items-center justify-center w-full p-3 mb-6 text-sm font-medium tracking-wide text-gray-500 transition duration-300 ease-in border border-gray-300 rounded-lg cursor-pointer md:mb-0 hover:border-lightPrimary hover:bg-primary hover:text-lightPrimary"
            >
            Volver al Login
          </button>
        </div>
        <div>
          <p class = "mt-8 text-xs text-gray-500">
            * Si usaste Google para iniciar sesión, las contraseñas no se pueden reestablecer
          </p>
        </div>
      </div>
    </form>
  </div>
</Layout>

<script
  is:inline
  data-astro-rerun
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
></script>
<script>
  import { showToast } from '@/lib/utils.ts';
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('passForm') as HTMLFormElement | null;
    if (form) {
      form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        try {
          const response = await fetch('/api/auth/recoverpassword', {
            method: 'POST',
            body: formData
          });
          if(!response.ok) {
            throw new Error(`Error en la respuesta del servidor: ${response.status}`);
        }
          const result = await response.json();
          if (result.success) {
            window.location.href = '/login';
            showToast('Correo de recuperación enviado correctamente.', 'success');
          }else{
            throw new Error(result.message || 'Error al enviar el correo');
          }
        } catch (error) {
        showToast("Error al enviar el correo: " + error, "error");
        console.error("Error al enviar el correo:", error);
      }
      });
    }
  });
</script>
