---
import Layout from "../layouts/NormalLayout.astro";
import OpenEye from "@/icons/OpenEye.astro";
import CloseEye from "@/icons/CloseEye.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/");
}
---

<Layout title="Registrarse">
  <div
    class="absolute bottom-0 left-0 w-full h-full overflow-hidden leading-5 bg-[#f0f0f0] top-72 -z-10 bg-gradient-to-b from-[#da392b] via-[#da392b] to-[#0f0f0f]"
  >
  </div>

  <div
    class="relative justify-center min-h-screen bg-transparent shadow-xl sm:flex sm:flex-row rounded-3xl"
  >
    <div
      class="z-10 flex flex-col self-center lg:px-14 sm:max-w-4xl xl:max-w-md"
    >
      <div class="flex-col self-start hidden text-[#f9f9f9] lg:flex">
        <h1 class="my-3 text-4xl font-semibold">Bienvenido por primera vez</h1>
        <p class="pr-3 text-sm opacity-90">
          Hola nuevo piloto, estamos felices de verte aquí. Por favor,
          regístrate para poder disfrutar de todas las ventajas de ser parte de
          ESP Racing.
        </p>
      </div>
    </div>

    <form
      action="/api/auth/register"
      method="post"
      class="z-10 flex self-center justify-center"
      data-astro-reload
    >
      <div class="p-12 mx-auto bg-white rounded-3xl w-96">
        <div class="mb-7">
          <h3 class="text-2xl font-semibold text-gray-800">Registrarse</h3>
          <p class="text-gray-400">
            ¿Ya tienes cuenta? <a
              href="/login"
              class="text-sm text-[#0f0f0f] hover:text-[#da392b]"
              >Inicia Sesión</a
            >
          </p>
        </div>

        <div class="space-y-6">
          <input
            class="w-full px-4 py-3 text-sm text-black bg-gray-200 border border-gray-200 rounded-lg focus:bg-gray-100 focus:outline-none focus:border-[#0f0f0f] focus:text-black"
            type="text"
            name="email"
            id="email"
            placeholder="Email"
          />

          <div class="relative" x-data="{ show: true }">
            <input
              :type="show ? 'password' : 'text'"
              name="password"
              id="password"
              class="w-full px-4 py-3 text-sm text-black bg-gray-200 border border-gray-200 rounded-lg focus:bg-gray-100 focus:outline-none focus:border-[#0f0f0f] focus:text-black"
              placeholder="Contraseña"
            />
            <div
              class="absolute inset-y-0 right-0 flex items-center mr-3 text-sm leading-5"
            >
              <OpenEye />
              <CloseEye />
            </div>
          </div>

          <button
            type="submit"
            class="flex justify-center w-full p-3 font-semibold tracking-wide text-gray-100 transition duration-300 ease-in bg-[#da392b] border-2 border-white rounded-lg cursor-pointer hover:border-[#da392b] hover:bg-white hover:text-[#da392b]"
          >
            Registrarse
          </button>
        </div>
      </div>
    </form>
  </div>
</Layout>

<script
  is:inline
  data-astro-rerun
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
></script>
