---
import Layout from "@/layouts/NormalLayout.astro";
import { turso } from "@/turso";

const { rows: TeamsData } = await turso.execute(
  "SELECT T.name, COUNT (U.team) AS TeamMembers, T.description, T.image FROM User AS U RIGHT JOIN Team AS T ON T.id = U.team GROUP BY T.name"
);
---

<Layout title="ESP Racing: Equipos">
  <div class="py-4 mx-auto text-center" style="width: 99%">
    <p2 class="text-5xl font-bold border-b border-[#da392b] w-fit mx-auto"
      >Tabla de Equipos</p2
    >
    <table class="mt-6 w-full border-collapse border border-[#f9f9f9]">
      <thead class="font-medium bg-[#da392b]">
        <tr>
          <th>Nº</th>
          <th colspan="2">Nombre</th>
          <th>Nº Pilotos</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        {
          TeamsData.map((team, index) =>
            <tr class="bg-[#0f0f0f]">
              <td class = "font-semibold">{index + 1}</td>
              <td><img src={String(team.image)} alt="Avatar" class="w-8 py-1"/></td>
              <td>{team.name}</td>
              <td>{team.TeamMembers}</td>
              <td>{team.description}</td>
            </tr>
          )
        }
      </tbody>
    </table>
  </div>
</Layout>

<style>
  tbody tr:nth-child(odd) {
    background-color: #0f0f0f;
  }

  tbody tr:nth-child(even) {
    background-color: #19191c;
  }
</style>
