---
interface Props {
  message: string;
}

const { message } = Astro.props;
---

<button
  type="submit"
  class="bg-darkPrimary text-lightPrimary border-primary border rounded-md my-4 font-medium text-lg py-1.5 px-3 w-fit"
>
  {message}
</button>
