---
interface Props {
  message: string;
}

const { message } = Astro.props;
---

<button
  type="submit"
  class="bg-[#0f0f0f] text-white border-[#da392b] border rounded-md my-4 font-medium text-lg py-1.5 px-3 w-fit"
>
  {message}
</button>
