---

---

<div class="mb-5 overflow-x-auto text-base text-center">
  <table class="min-w-full border-collapse table-fixed">
    <thead>
      <tr>
        <th class="border border-gray-300 bg-light-blue w-52">Aviso</th>
        <th class="border border-gray-300 bg-light-green w-52">Sanción Leve</th>
        <th class="border border-gray-300 bg-yellow w-52">Sanción Media</th>
        <th class="border border-gray-300 bg-orange w-52">Sanción Grave</th>
        <th class="border border-gray-300 bg-red w-52">Sanción Muy Grave</th>
        <th class="bg-black border border-gray-300 w-52">Sanción Antideportiva</th
        >
      </tr>
    </thead>
    <tbody>
      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.1</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.1</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.1</td>
        <td class="border border-gray-300 bg-orange">11.2.4.1</td>
        <td class="border border-gray-300 bg-red">11.2.5.1</td>
        <td class="bg-black border border-gray-300">11.2.6.1</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>Realizar trompos al finalizar la carrera dentro de pista</p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>Bloquear la pista con otro coche al finalizar la prueba sin dejar espacios para pasar</p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>Cruzar meta por el Pit Lane ganando una ventaja</p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>X</p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>X</p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>Golpear intencionadamente a otro piloto</p>
        </td>
      </tr>

      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.2</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.2</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.2</td>
        <td class="border border-gray-300 bg-orange">11.2.4.2</td>
        <td class="border border-gray-300 bg-red">11.2.5.2</td>
        <td class="bg-black border border-gray-300">11.2.6.2</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Hacer perder tiempo a un piloto queriendo de manera exagerada o no
            cumplir una bandera azul
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Incumplir una bandera azul haciendo perder tiempo a un piloto
            doblador de manera reiterada
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>X</p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Incumplir una bandera azul haciendo perder tiempo queriendo a un
            piloto doblando
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Incumplir una bandera azul provocando un accidente con el vehiculo
            que está doblando
          </p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>
            Provocar un accidente de manera intencionada para favorecer a otro
            piloto
          </p>
        </td>
      </tr>

      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.3</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.3</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.3</td>
        <td class="border border-gray-300 bg-orange">11.2.4.3</td>
        <td class="border border-gray-300 bg-red">11.2.5.3</td>
        <td class="bg-black border border-gray-300">11.2.6.3</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Molestar en tu vuelta de salida de boxes en clasificación a un
            piloto que esté en vuelta
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Hacer perder tiempo de manera accidental a otros pilotos de manera
            reiterada en Clasificación
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Golpear a otro piloto en frenada haciendo que cambie su trazada en
            el toque
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Hacer perder tiempo de manera intencionada a otro piloto en
            Clasificación
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>X</p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>
            Bloquear el carril de boxes de manera intencionada impidiendo que
            nadie pueda entrar o salir de él.
          </p>
        </td>
      </tr>

      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.4</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.4</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.4</td>
        <td class="border border-gray-300 bg-orange">11.2.4.4</td>
        <td class="border border-gray-300 bg-red">11.2.5.4</td>
        <td class="bg-black border border-gray-300">11.2.6.4</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            X
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Más de un cambio de dirección en recta creando una situación de riesgo
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Reiteración de más de un cambio de dirección en recta creando una situación de riesgo o accidente
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Reiteracion de más de un cambio de dirección en recta provocando un accidente
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>Mantener el coche inmovil en pista por cualquier motivo injustificado por más de 10 segundos</p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>
            Incorporarse a carrera después de hacer un ESC+BOX o alguna variante sin el permiso de la organización
          </p>
        </td>
      </tr>

      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.5</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.5</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.5</td>
        <td class="border border-gray-300 bg-orange">11.2.4.5</td>
        <td class="border border-gray-300 bg-red">11.2.5.5</td>
        <td class="bg-black border border-gray-300">11.2.6.5</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Uso abusivo del Flash de luces o intermitencia de Luces normales del coche
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Reincorporación a pista de manera peligrosa sin provocar accidente
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Reincorporación a pista de manera peligrosa provocando un accidente
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            X
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>X</p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>
            Reincorporación a pista de manera peligrosa chocando a otros pilotos de manera intencionada
          </p>
        </td>
      </tr>

      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.6</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.6</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.6</td>
        <td class="border border-gray-300 bg-orange">11.2.4.6</td>
        <td class="border border-gray-300 bg-red">11.2.5.6</td>
        <td class="bg-black border border-gray-300">11.2.6.6</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Dar marcha atras en Pit Lane o carril de boxes
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            No respetar el minuto de espera de la sesión de Clasificación
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Dar marcha atras en pista para entrar al carril de boxes
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            X
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>Salir de boxes por la Entrada o entrar por la Salida de boxes</p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>
            X
          </p>
        </td>
      </tr>

      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.7</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.7</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.7</td>
        <td class="border border-gray-300 bg-orange">11.2.4.7</td>
        <td class="border border-gray-300 bg-red">11.2.5.7</td>
        <td class="bg-black border border-gray-300">11.2.6.7</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Estrangulamiento de trazada a otro piloto sin colisión o accidente, sin expulsarlo de pista
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Expulsar a un piloto fuera de pista, con o sin contacto
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Expulsar a varios pilotos de pista en una misma acción
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            X
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>Reiteración de expulsión a pilotos fuera de pista</p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>
            Expulsar o extrangular a un piloto fuera de pista o contra un muro para provocar un accidente del otro de manera intencionada
          </p>
        </td>
      </tr>

      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.8</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.8</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.8</td>
        <td class="border border-gray-300 bg-orange">11.2.4.8</td>
        <td class="border border-gray-300 bg-red">11.2.5.8</td>
        <td class="bg-black border border-gray-300">11.2.6.8</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Pisar o rebasar líneas de Pit Lane o carril de boxes
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Pisar o rebasar líneas de Pit Lane o carril de boxes y provocar un accidente
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            X
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            X
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>Pisar o rebasar líneas de Pit Lane o carril de boxes y provocar un accidente de manera reiterada</p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>
            Pisar o rebasar líneas de Pit Lane o carril de boxes y provocar un accidente de manera intencionada
          </p>
        </td>
      </tr>

      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.9</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.9</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.9</td>
        <td class="border border-gray-300 bg-orange">11.2.4.9</td>
        <td class="border border-gray-300 bg-red">11.2.5.9</td>
        <td class="bg-black border border-gray-300">11.2.6.9</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            X
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Ganar ventaja cortando la pista
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Ganar una ventaja cortando la pista y provocar un accidente
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            X
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>X</p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>
            Recortar parte del trazado para chocar a otro piloto de manera intencionada
          </p>
        </td>
      </tr>

      <tr class="font-semibold">
        <td class="border border-gray-300 bg-light-blue">11.2.1.10</td>
        <td class="border border-gray-300 bg-light-green">11.2.2.10</td>
        <td class="border border-gray-300 bg-yellow">11.2.3.10</td>
        <td class="border border-gray-300 bg-orange">11.2.4.10</td>
        <td class="border border-gray-300 bg-red">11.2.5.10</td>
        <td class="bg-black border border-gray-300">11.2.6.10</td>
      </tr>
      <tr class="font-normal">
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Cualquier acción que los comisarios consideren que no esté en esta lista
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Cualquier acción leve que los comisarios consideren que no esté en esta lista
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Cualquier acción media que los comisarios consideren que no esté en esta lista
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>
            Cualquier acción grave que los comisarios consideren que no esté en esta lista
          </p>
        </td>
        <td class="px-2 py-1 bg-black border border-gray-300">
          <p>Cualquier acción muy grave que los comisarios consideren que no esté en esta lista</p>
        </td>
        <td class="px-2 py-1 text-white bg-black border border-gray-300">
          <p>
            Cualquier acción antideportiva que los comisarios consideren que no esté en esta lista
          </p>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<style>
  .bg-light-blue {
    background-color: #00b0f0;
  }
  .bg-dark-blue {
    background-color: #0070c0;
  }
  .bg-light-green {
    background-color: #00b050;
  }
  .bg-dark-green {
    background-color: #00b0f0;
  }
  .bg-yellow {
    background-color: #ffff00;
  }
  .bg-orange {
    background-color: #ffc000;
  }
  .bg-red {
    background-color: #ff0000;
    color: white;
  }
  .bg-black {
    background-color: #000000;
    color: white;
  }
</style>
