---

interface Props {
  numberrule: string;
  rule: string;
}

const { numberrule, rule } = Astro.props;
---

<li class = "text-lg font-normal"><span class = "text-primary">{numberrule}.-</span> {rule}</li>