---
import type { Championship } from "@/lib/tursotypes";
import { supabase } from "@/db/supabase";

interface Props {
  actualchamp: string;
}

const { actualchamp } = Astro.props;

interface Race {
  pointsystem: string;
  orderinchamp: number;
  championship: {
    id: string;
    name: string;
    season: string;
  }
}

type RaceDetail = {
  RaceOrder: number;
  RacePoints: string;
};

interface GroupedChamp {
  ChampID: string;
  ChampName: string;
  ChampSeason: string;
  RacePointsList: string[];
  RaceDetails: RaceDetail[];
}

let resultSet;

if (actualchamp === "true") {
  const { data: lastchamp, error: errorlastchamp } = await supabase
    .from("championship")
    .select("*")
    .eq('ischampionship', true)
    .eq('isfinished', false)
    .order('id', { ascending: false });

  if(!lastchamp) {
    throw new Error('No hay campeonatos activos: ' + errorlastchamp.message);
  }

  const { data: champResultSet } = await supabase
    .from ('race')
    .select('orderinchamp, pointsystem, championship!inner(id, name, season)')
    .eq('id', lastchamp[0].id);
  resultSet = champResultSet;

} else {
  const { data: champResultSet } = await supabase
    .from ('race')
    .select('orderinchamp, pointsystem, championship!inner(id, name, season)')
    .eq('ischampionship', true);
  resultSet = champResultSet;
}
const ChampionshipData: Championship[] = resultSet as unknown as Championship[];

const groupedChampionships = ChampionshipData.reduce(
  (acc, champ) => {
    if (!acc[champ.season]) {
      acc[champ.season] = [];
    }
    acc[champ.season].push(champ);
    return acc;
  },
  {} as Record<string, Championship[]>
);

const ChampData: Race[] = resultSet as unknown as Race[];

function groupByChamp(resultSet: Race[]): GroupedChamp[] {
  const grouped: {
    [key: string]: GroupedChamp & { RacePointsList: string[] };
  } = {};

  resultSet.forEach((race) => {
    const champId = race.championship.id;
    if (!grouped[champId]) {
      grouped[champId] = {
        ChampID: champId,
        ChampName: race.championship.name,
        ChampSeason: race.championship.season,
        RacePointsList: [],
        RaceDetails: [],
      };
    }

    grouped[champId].RaceDetails.push({
      RaceOrder: race.orderinchamp, // Ajusta según tus datos
      RacePoints: race.pointsystem,
    });
  });

  return Object.values(grouped);
}

const finalResult: GroupedChamp[] = groupByChamp(ChampData);

let dataChamp: GroupedChamp[] = [];
for (let i = 0; i < finalResult.length; i++) {
  dataChamp.push(finalResult[i]);
  for (let j = 0; j < finalResult[i].RaceDetails.length; j++) {
    dataChamp[i].ChampID +=
      "@" + finalResult[i].RaceDetails[j].RacePoints.toString();
  }
}
---

{actualchamp === "true" ? (
  <p class="py-4 text-4xl font-bold text-center">
    Carga los datos del progreso actual de los campeonatos
  </p>
) : (
  <p class="py-4 text-4xl font-bold text-center">
    Selecciona el campeonato pasado a revisar
  </p>
)}

<select
  id="select-champs"
  class="block m-auto w-4/5 px-4 py-3 text-lg font-medium rounded-xl pe-9 focus:border-primary disabled:opacity-50 disabled:pointer-events-none bg-darkSecond border-neutral-700 text-lightPrimary placeholder-neutral-500"
>
  {
    dataChamp.map((champ) => (
      <optgroup
        label={`Temporada ${champ.ChampSeason}`}
        class="text-lightSecond font-semibold"
      >
        <option value={champ.ChampID} class="text-lightSecond">
          {champ.ChampName}
        </option>
      </optgroup>
    ))
  }
</select>

<!-- Tabla de resultados -->
<div class="container mx-auto">
  <div class="section">
    <button
      id="loadButtonChamp"
      class="no-underline bg-darkSecond rounded-xl my-4 font-medium text-lightPrimary text-lg py-4 px-8 block mx-auto hover:text-darkPrimary hover:bg-primary"
    >
      Cargar Datos
    </button>
  </div>

  <div id="resultsIndyChampsTable"></div>
  <div class="w-11/12 mx-auto mt-4 tablecharts"><div id="chartProgressiónIndyChamp" class = "border-2 border-primary"></div></div>
  <div id="resultsTeamsChampsTable"></div>
  <div class="w-11/12 mx-auto mt-4 tablecharts"><div id="chartProgressiónTeamsChamp" class = "border-2 border-primary"></div></div>
  <div id="resultTableOtherPrizes"></div>
</div>

<script>
  // Script para cargar los resultados de los campeonatos
  import "@/pages/api/champresults/champresults.ts";
</script>

<style>
  .container {
    width: 99%;
  }
</style>
