---
import { supabase } from "@/db/supabase";

const {data: AdminsData, error: AdminsError} = await supabase
  .from("profiles")
  .select("full_name, email")
  .eq("roleesp", 1);

if (AdminsError || AdminsData === null) {
  console.error(AdminsError);
}
---

<div class="box-border p-5 m-auto bg-white rounded-md max-w-screen-2xl">
  <form
    action="/api/messages/sendMsg"
    method="post"
    data-astro-reload
  >
    <label class="text-darkPrimary text-lg font-medium" for="nameemissor">Nombre</label>
    <input
      class="w-full p-3 border border-solid border-darkSecond rounded-md mt-2 mb-4 resize-y text-darkPrimary bg-lightPrimary"
      type="text"
      id="nameemissor"
      name="nameemissor"
      placeholder="Tu nombre..."
    />

    <label class="text-darkPrimary text-lg font-medium" for="discord"
      >Usuario Discord</label
    >
    <input
      class="w-full p-3 border border-solid border-darkSecond rounded-md mt-2 mb-4 resize-y text-darkPrimary bg-lightPrimary"
      type="text"
      id="discord"
      name="discord"
      placeholder="@example123"
    />

    <label class="text-darkPrimary text-lg font-medium" for="region"
      >Región de Procedencia</label
    >
    <select
      id="region"
      name="region"
      class="w-full p-3 border border-solid border-darkSecond rounded-md mt-2 mb-4 resize-y text-darkPrimary bg-lightPrimary"
    >
      <option value="spain">España</option>
      <option value="latinoamerica">Latino America</option>
      <option value="portugal">Portugal</option>
      <option value="europe">Europa</option>
      <option value="russia">Rusia</option>
      <option value="usa">Estados Unidos/Canada</option>
      <option value="africa">Africa</option>
      <option value="asia">Asia</option>
      <option value="oceania">Oceania</option>
    </select>

    <label class="text-darkPrimary text-lg font-medium" for="contactwho"
      >¿Con quien quiere contactar?</label
    >
    <select
      class="w-full p-3 border border-solid border-darkSecond rounded-md mt-2 mb-4 resize-y text-darkPrimary bg-lightPrimary"
      id="contactwho"
      name="contactwho"
    >
      {
        AdminsData?.map((admin) => (
          <option value={admin.email?.toString()}>{admin.full_name}</option>
        ))
      }
    </select>

    <label class="text-darkPrimary text-lg font-medium" for="description"
      >Mensaje a escribir</label
    >
    <textarea
      class="w-full h-52 max-h-96 min-h-28 p-3 border border-solid border-darkSecond rounded-md mt-2 mb-4 resize-y text-darkPrimary bg-lightPrimary"
      id="description"
      name="description"
      placeholder="Escriba lo que sea..."></textarea>

    <input
      class="bg-primary text-white font-bold py-3 px-5 border-solid border-primary border-2 rounded-md hover:bg-lightPrimary hover:text-darkSecond mt-4"
      type="submit"
      value="Enviar"
    />
  </form>
</div>
