<div class="w-2/4 mt-7 border-2 border-primary mx-auto py-2 rounded-lg">
  <h1 class="text-center font-black text-xl">DEV ZONE</h1>
  <div class="grid grid-cols-2">
    <button
      class="bg-green-500 text-dark-primary font-bold py-3 px-2 w-72 mt-4 mx-auto border-solid border-green-500 border-2 rounded-md hover:bg-dark-second hover:text-light-primary"
      onclick="window.showToast('Operación exitosa', 'success')"
    >
      Mostrar notificación de éxito
    </button>

    <button
      class="bg-primary text-ligth-primary font-bold py-3 px-2 w-72 mt-4 mx-auto border-solid border-primary border-2 rounded-md hover:bg-dark-second hover:text-light-primary"
      onclick="window.showToast('Ha ocurrido un error', 'error')"
    >
      Mostrar notificación de error
    </button>

    <button
      class="bg-yellow-400 text-dark-primary font-bold py-3 px-2 w-72 mt-4 mx-auto border-solid border-yellow-400 border-2 rounded-md hover:bg-dark-second hover:text-light-primary"
      onclick="window.showToast('Mensaje de advertencia', 'warning')"
    >
      Mostrar notificación de advertencia
    </button>

    <button
      class="bg-sky-500 text-dark-primary font-bold py-3 px-2 w-72 mt-4 mx-auto border-solid border-sky-500 border-2 rounded-md hover:bg-dark-second hover:text-light-primary"
      onclick="window.showToast('Información importante', 'info')"
    >
      Mostrar notificación de información
    </button>
  </div>
</div>
