---
import DropdownCard from "@/components/DropdownCard.astro";
---

<div class="space-y-4">
  <DropdownCard
    title = "¿Cada cuanto son las carreras?"
    subtitle = "En ESP Racing, las carreras se realizan de manera quincenal, los domingos a las 17:30 hora peninsular española, siempre y cuando no se diga lo contrario. Este es el horario oficial, pero puede variar segun a petición de los corredores dependiendo si coincidimos con una carrera de Formula 1, o algún tipo de eventos que pueda modificar la participación a la carrera."
    isClosed = "true"
    />

    <DropdownCard
    title = "¿Cuanto cuesta correr con vosotros?"
    subtitle = "Nada, correr con nosotros es totalmente gratis. Tanto el acceso al contenido como al servidor es 100% gratis. Eso no implica que aceptemos ayudas economicas de los corredores cuando ellos quieran; son totalmente bienvenidas, vienen de la voluntad de los propios corredores, y no hay ninguna obligatoriedad de aportar nada. Tenemos una cuenta de Paypal, donde aceptamos dichas donaciones en la parte superior de esta web."
    isClosed = "false"
    />

    <DropdownCard
    title = "¿Donde puedo acceder a vuestros servidores? ¿Y vuestro contenido?"
    subtitle = "A nuestros servidores se accede desde nuestro discord, que tienes un enlace en la parte superior de la web, o tambien en la parte inferior. Pasa absolutamente igual con el contenido para correr con nosotros. En ESP damos todo el contenido para correr, y para que esté bien organizado, se encuentra en estos momentos en el centro neuralgico de ESP Racing, que es nuestro server de Discord."
    isClosed = "false"
    />

    <DropdownCard
    title = "Tengos problemas para entrar al servidor, y no puedo rodar, ¿que puedo hacer?"
    subtitle = "Lo más recomendable es acudir a nuestro Discord, y preguntar por nuestro canal de Discord de 'dudas y preguntas', donde uno de los administradores, o incluso otro usuario, sabrá como ayudarte en el problema."
    isClosed = "false"
    />

    <DropdownCard
    title = "¿Se sabe cuales son los próximos campeonatos?"
    subtitle = "Los próximos campeonatos solo lo sabe la administración. No nos gusta adelantar mucha información al respecto de futuros proyectos, ya que en muchas ocasiones estos cambian mucho desde la primera concepción, y no queremos dar falsas expectativas. Pero siempre, la semana previa al anuncio de un nuevo campeonato, vamos soltando pequeños 'spoilers' de los circuitos, y posibles coches que pueden ser de próximo campeonato."
    isClosed = "false"
    />
</div>