---
const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");
---

<footer class="bg-[#0f0f0f] relative">
  <div class="px-4 py-16 mx-auto space-y-8 max-w-screen-2xl sm:px-6 lg:space-y-16 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div>
          <a href ="/"><img src="/img/ESPRACINGLogoBlanco.webp" alt="ESP Racing Logo" class="w-auto h-56" /></a>
        </div>

        <ul class="flex gap-6 mt-8">
          <li>
            <a
              href="https://x.com/EspRacingCom" target="_blank">
              <span class="sr-only">X (previously Twitter)</span>
              <img class="w-8 .p-2 invert" src="/img/social/brand-x.svg" alt="Twitter ESP Racing" />
            </a>
          </li>

          <li>
            <a
            href="https://www.instagram.com/espsimracingoficial/" target="_blank">
            <span class="sr-only">Instagram</span>
            <img class="w-8 .p-2 invert" src="/img/social/brand-instagram.svg" alt="Instagram ESP Racing" />
          </a>
          </li>

          <li>
            <a href="https://discord.gg/hjawMXGU6k" target="_blank">
              <span class="sr-only">Discord</span>
              <img class="w-8 .p-2 invert" src="/img/social/brand-discord.svg" alt="Discord ESP Racing" />
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/@esp-racing-com-es" target="_blank">
              <span class="sr-only">Youtube</span>
              <img class="w-8 .p-2 invert" src="/img/social/brand-youtube.svg" alt="Youtube ESP Racing" />
            </a>
          </li>

          <li>
            <a href="https://www.twitch.tv/sergig_" target="_blank">
              <span class="sr-only">Twitch</span>
              <img class="w-8 .p-2 invert" src="/img/social/brand-twitch.svg" alt="Twitch ESP Racing" />
            </a>
          </li>

          <li>
            <a href="https://www.paypal.com/es/home" target="_blank">
              <span class="sr-only">Paypal</span>
              <img class="w-8 .p-2 invert" src="/img/social/brand-paypal.svg" alt="Paypal ESP Racing" />
            </a>
          </li>

        </ul>
      </div>

      <div class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-5">
        <div>
          <p class="font-medium text-white">Inicio</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a href="/news" class="text-gray-300 transition hover:text-[#da392b]"> Noticias </a>
            </li>

            <li>
              <a href="/about" class="text-gray-300 transition hover:text-[#da392b]"> Sobre Nosotros </a>
            </li>

            <li>
              <a href="/faq" class="text-gray-300 transition hover:text-[#da392b]"> Preguntas Frecuentes </a>
            </li>

            <li>
              <a href=/contact" class="text-gray-300 transition hover:text-[#da392b]"> Contacto </a>
            </li>

          </ul>
        </div>

        <div>
          <p class="font-medium text-white">Campeonato Actual</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a href="/actualchamp" class="text-gray-300 transition hover:text-[#da392b]"> Información </a>
            </li>

            <li>
              <a href="/rules" class="text-gray-300 transition hover:text-[#da392b]"> Normativa </a>
            </li>

            <li>
              <a href="#" class="text-gray-300 transition hover:text-[#da392b]"> Clasificación </a>
            </li>

            <li>
              <a href="#" class="text-gray-300 transition hover:text-[#da392b]"> Incripciones </a>
            </li>
          </ul>
        </div>

        <div>
          <p class="font-medium text-white">Carreras Pasadas</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a href="#" class="text-gray-300 transition hover:text-[#da392b]"> Año 2021 </a>
            </li>

            <li>
              <a href="#" class="text-gray-300 transition hover:text-[#da392b]"> Año 2022 </a>
            </li>

            <li>
              <a href="#" class="text-gray-300 transition hover:text-[#da392b]"> Año 2023 </a>
            </li>

            <li>
              <a href="#" class="text-gray-300 transition hover:text-[#da392b]"> Año 2024 </a>
            </li>

          </ul>
        </div>

        <div>
          <p class="font-medium text-white">Pilotos / Equipos</p>

          <ul class="mt-6 space-y-4 text-sm">
            <li>
              <a href="#" class="text-gray-300 transition hover:text-[#da392b]"> Pilotos </a>
            </li>

            <li>
              <a href="#" class="text-gray-300 transition hover:text-[#da392b]"> Equipos </a>
            </li>

          </ul>
        </div>

        <div>
          <p class="font-medium text-white">Perfil Usuario</p>

          <ul class="mt-6 space-y-4 text-sm">
          {
            accessToken && refreshToken ? (
              <li>
                <a href="/myprofile" class="text-gray-300 transition hover:text-[#da392b]"> Mi Perfil </a>
              </li>
              <form action="/api/auth/signout">
              <li>
                <button type="submit" class="text-gray-300 transition hover:text-[#da392b]"> Cerrar Sesión </a>
              </li>
              </form>
            ) : (
              <li>
                <a href="/login" class="text-gray-300 transition hover:text-[#da392b]"> Iniciar Sesión </a>
              </li>
              <li>
                <a href="/register" class="text-gray-300 transition hover:text-[#da392b]"> Registrase </a>
              </li>
            )
          }

          </ul>
        </div>

      </div>
    </div>

    <p class="text-xs text-gray-500">&copy; 2024. ESP Racing. All rights reserved.</p>
  </div>
</footer>
