---
import Chevron from "../icons/Chevron.astro";
---

<!-- Nombre Inicial + Redes -->
<header class="z-20 flex flex-row-reverse md:flex-none">
  <div class="flex gap-6 py-1 mr-4">
    <a href="https://x.com/EspRacingCom" target="_blank">
      <img class="w-8 .p-2 invert" src="/img/social/brand-x.svg" alt="Twitter ESP Racing" />
    </a>

    <a href="https://www.instagram.com/espsimracingoficial/" target="_blank">
      <img class="w-8 .p-2 invert" src="/img/social/brand-instagram.svg" alt="Instagram ESP Racing" />
    </a>

    <a href="https://www.paypal.com/es/home" target="_blank">
      <img class="w-8 .p-2 invert" src="/img/social/brand-paypal.svg" alt="Paypal ESP Racing" />
    </a>
  </div>

  <div class="flex gap-6 mr-4 md:flex-row">
    <a href="https://discord.gg/hjawMXGU6k" target="_blank">
      <img class="w-8 .p-2 invert" src="/img/social/brand-discord.svg" alt="Discord ESP Racing" />
    </a>

    <a href="https://www.youtube.com/@esp-racing-com-es" target="_blank">
      <img class="w-8 .p-2 invert" src="/img/social/brand-youtube.svg" alt="Youtube ESP Racing" />
    </a>

    <a href="https://www.twitch.tv/sergig_" target="_blank">
      <img class="w-8 .p-2 invert" src="/img/social/brand-twitch.svg" alt="Twitch ESP Racing" />
    </a>
  </div>
</header>

<!-- PORTADA -->
<div class="flex justify-center">
  <img class = "object-cover w-screen mx-0 mt-0 mb-auto h-60" src="/PortadaESP.webp" alt="Gif Inicio ESP Racing" />
</div>

<!-- NAVBAR -->
<nav role="navigation" class="bg-primary border-primary">
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">

    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="/img/ESPRACINGLogo.webp"
        class="h-8"
        alt="ESP Racing Logo Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >ESP Racing
      </span>
    </a>

    <button
      data-collapse-toggle="navbar-dropdown"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-lightPrimary rounded-lg md:hidden hover:bg-lightPrimary hover:text-primary focus:outline-none focus:ring-2 focus:ring-lightPrimary"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Abrir Menu Principal</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <div class = "hidden w-full md:block md:w-auto" id = "navbar-dropdown">
      <ul class="flex flex-col p-4 mt-4 font-medium md:p-0 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
        <li>
          <button
            id="dropdownInicioLink"
            data-dropdown-toggle="dropdownInicio"
            aria-expanded="true"
            aria-haspopup="true"
            class ="flex items-center justify-between w-full py-2 px-3 text-lightPrimary rounded hover:bg-lightPrimary hover:text-primary md:hover:bg-lightPrimary md:border-0 md:hover:text-primary md:p-1 md:w-auto">
            Inicio
            <Chevron />
          </button>
          <!-- Dropdown Inicio -->
          <div
            id="dropdownInicio"
            class="z-10 hidden font-normal bg-lightPrimary divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul
              class = "py-2 text-sm text-primary"
              aria-labelledby="dropdownInicioLink">
              <li>
                <a
                  href = "/news"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Noticias
                </a>
              </li>
              <li>
                <a
                  href = "/about"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Sobre Nosotros
                </a>
              </li>
              <li>
                <a
                  href = "/faq"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Preguntas Frecuentes
                </a>
              </li>
              <li>
                <a
                  href = "/contact"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Contacto
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <button
            id="dropdownCampeonatoActualLink"
            data-dropdown-toggle="dropdownCampeonatoActual"
            aria-expanded="true"
            aria-haspopup="true"
            class ="flex items-center justify-between w-full py-2 px-3 text-lightPrimary rounded hover:bg-lightPrimary hover:text-primary md:hover:bg-lightPrimary md:border-0 md:hover:text-primary md:p-1 md:w-auto">
            Campeonato Actual
            <Chevron />
          </button>
          <!-- Dropdown CampetoActual -->
          <div
            id="dropdownCampeonatoActual"
            class="z-10 hidden font-normal bg-lightPrimary divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul
              class = "py-2 text-sm text-primary"
              aria-labelledby="dropdownLargeButton">
              <li>
                <a
                  href = "/actualchamp"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Información
                </a>
              </li>

              <li>
                <a
                  href = "/rules"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Normativa
                </a>
              </li>

              <li>
                <a
                  href = "/globalresults"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Estadisticas de Carreras
                </a>
              </li>

              <li>
                <a
                  href = "/globalchampresults"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Estadisticas de Campeonatos
                </a>
              </li>

              <li>
                <a
                  href = "#"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Inscripciones
                </a>
              </li>

            </ul>
          </div>
        </li>

        <li>
          <button
            id="dropdownPasadoLink"
            data-dropdown-toggle="dropdownPasado"
            aria-expanded="true"
            aria-haspopup="true"
            class ="flex items-center justify-between w-full py-2 px-3 text-lightPrimary rounded hover:bg-lightPrimary hover:text-primary md:hover:bg-lightPrimary md:border-0 md:hover:text-primary md:p-1 md:w-auto">
            Carreras Pasadas
            <Chevron />
          </button>
          <!-- Dropdown CampetoActual -->
          <div
            id="dropdownPasado"
            class="z-10 hidden font-normal bg-lightPrimary divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul
              class = "py-2 text-sm text-primary"
              aria-labelledby="dropdownLargeButton">
              <li>
                <a
                  href = "/pastchamps/2021"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Año 2021
                </a>
              </li>

              <li>
                <a
                  href = "/pastchamps/2022"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Año 2022
                </a>
              </li>

              <li>
                <a
                  href = "/pastchamps/2023"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Año 2023
                </a>
              </li>

              <li>
                <a
                  href = "/pastchamps/2024"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Año 2024
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <button
            id="dropdownPilotosEquiposLink"
            data-dropdown-toggle="dropdownPilotosEquipos"
            class ="flex items-center justify-between w-full py-2 px-3 text-lightPrimary rounded hover:bg-lightPrimary hover:text-primary md:hover:bg-lightPrimary md:border-0 md:hover:text-primary md:p-1 md:w-auto">
            Extras
            <Chevron />
          </button>
          <!-- Dropdown PilotosEquipos -->
          <div
            id="dropdownPilotosEquipos"
            class="z-10 hidden font-normal bg-lightPrimary divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul
              class = "py-2 text-sm text-primary"
              aria-labelledby="dropdownLargeButton">
              <li>
                <a
                  href = "/drivers"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Lista de Pilotos
                </a>
              </li>
              <li>
                <a
                  href = "/teams"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Lista de Equipos
                </a>
              </li>

              <li>
                <a
                  href = "/fuelCalculator"
                  class = "block px-4 py-2 hover:bg-gray-100">
                  Calculadora de Combustible
                </a>
              </li>

            </ul>
          </div>
        </li>

        <li>
          <a
            href="/login"
            class ="flex items-center justify-between w-full py-2 px-3 text-lightPrimary rounded hover:bg-white hover:text-primary md:hover:bg-lightPrimary md:border-0 md:hover:text-primary md:p-1 md:w-auto">
            Mi Perfil
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<script is:inline data-astro-rerun src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"></script>