---
import Chevron from "@/icons/Chevron.astro";

import { supabase } from "../lib/supabase";
import { turso } from "@/turso";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/login");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

const rol = data?.user?.role;
const email = data?.user?.email || "";

const emailSearchQuery = await turso.execute({
  sql: "SELECT COUNT (*) AS NoReaded FROM Message WHERE name_receiver = ? AND readed = 0",
  args: [email],
});
---

<!-- Nombre Inicial + Redes -->
<button
  data-drawer-target="default-sidebar"
  data-drawer-toggle="default-sidebar"
  aria-controls="default-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Abrir sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="default-sidebar"
  class="absolute top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidenav"
>
  <div
    class="overflow-y-auto py-5 px-3 h-full bg-[#19191c] border-r-2 border-[#da392b]"
  >
    <ul class="space-y-2">
      <li>
        <a
          href="/"
          class="flex items-center p-1 text-base font-normal rounded-lg text-white hover:bg-[#0f0f0f] group"
        >
          <img
            src="/img/ESPRACINGLogo.webp"
            class="h-8"
            alt="ESP Racing Logo Logo"
          />
          <span
            class="self-center ml-2 text-3xl font-semibold text-white whitespace-nowrap"
            >ESP Racing
          </span>
        </a>
      </li>

      <li>
        <a
          href="/myprofile"
          class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-[#0f0f0f] group"
        >
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"
            ></path>
            <path
              d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
            ></path>
          </svg>
          <span class="ml-3">Mi Perfil</span>
        </a>
      </li>

      <li>
        <a
          href="/#"
          class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-[#0f0f0f] group"
        >
          <svg
            viewBox="0 0 24 24"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
            <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1"></path>
            <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
            <path d="M17 10h2a2 2 0 0 1 2 2v1"></path>
            <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
            <path d="M3 13v-1a2 2 0 0 1 2 -2h2"></path>
          </svg>
          <span class="ml-3">Mi Equipo</span>
        </a>
      </li>

      {
        //Si es admin, verá estas opciones de Zona Admin
        rol === "low_administration" || rol === "supabase_admin" ? (
          <li>
            <button
              type="button"
              class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg group text-white hover:bg-[#0f0f0f]"
              aria-controls="dropdown-sales"
              data-collapse-toggle="dropdown-sales"
            >
              <svg
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4" />
                <path d="M14.5 5.5l4 4" />
                <path d="M12 8l-5 -5l-4 4l5 5" />
                <path d="M7 8l-1.5 1.5" />
                <path d="M16 12l5 5l-4 4l-5 -5" />
                <path d="M16 17l-1.5 1.5" />
              </svg>
              <span class="flex-1 ml-3 text-left whitespace-nowrap">
                Zona Admin
              </span>
              <Chevron />
            </button>
            <ul id="dropdown-sales" class="hidden py-2 space-y-2">
              <li>
                <a
                  href="#"
                  class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg pl-11 group text-white hover:bg-[#0f0f0f]"
                >
                  <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 4a9 9 0 0 1 5.656 16h-11.312a9 9 0 0 1 5.656 -16z" />
                    <path d="M20 9h-8.8a1 1 0 0 0 -.968 1.246c.507 2 1.596 3.418 3.268 4.254c2 1 4.333 1.5 7 1.5" />
                  </svg>
                  <span class="ml-3">Administrar Pilotos</span>
                </a>
              </li>

              <li>
                <a
                  href="#"
                  class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg pl-11 group text-white hover:bg-[#0f0f0f]"
                >
                  <svg
                    viewBox="0 0 640 512"
                    class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
                  >
                    <path
                      fill="#ffffff"
                      d="M0 488L0 171.3c0-26.2 15.9-49.7 40.2-59.4L308.1 4.8c7.6-3.1 16.1-3.1 23.8 0L599.8 111.9c24.3 9.7 40.2 33.3 40.2 59.4L640 488c0 13.3-10.7 24-24 24l-48 0c-13.3 0-24-10.7-24-24l0-264c0-17.7-14.3-32-32-32l-384 0c-17.7 0-32 14.3-32 32l0 264c0 13.3-10.7 24-24 24l-48 0c-13.3 0-24-10.7-24-24zm488 24l-336 0c-13.3 0-24-10.7-24-24l0-56 384 0 0 56c0 13.3-10.7 24-24 24zM128 400l0-64 384 0 0 64-384 0zm0-96l0-80 384 0 0 80-384 0z"
                    />
                  </svg>
                  <span class="ml-3">Administrar Equipos</span>
                </a>
              </li>

              <li>
                <a
                  href="#"
                  class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg pl-11 group text-white hover:bg-[#0f0f0f]"
                >
                  <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M5 13a7 7 0 1 0 14 0a7 7 0 0 0 -14 0z" />
                    <path d="M14.5 10.5l-2.5 2.5" />
                    <path d="M17 8l1 -1" />
                    <path d="M14 3h-4" />
                  </svg>
                  <span class="ml-3">Administrar Carreras</span>
                </a>
              </li>

              <li>
                <a
                  href="#"
                  class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg pl-11 group text-white hover:bg-[#0f0f0f]"
                >
                  <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M17 20h-11a3 3 0 0 1 0 -6h11a3 3 0 0 0 0 6h1a3 3 0 0 0 3 -3v-11a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v8" />
                  </svg>
                  <span class="ml-3">Ver Inscripciones</span>
                </a>
              </li>

              <li>
                <a
                  href="#"
                  class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg pl-11 group text-white hover:bg-[#0f0f0f]"
                >
                  <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M5 17h-2v-6l2 -5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
                  </svg>
                  <span class="ml-3">Ver Coches</span>
                </a>
              </li>

              <li>
                <a
                  href="#"
                  class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg pl-11 group text-white hover:bg-[#0f0f0f]"
                >
                  <svg
                    xml:space="preserve"
                    viewBox="0 0 548.79 548.79"
                    fill="currentColor"
                    class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
                  >
                    <path d="M122.98 59.27c-11.56-6.6-26.08-10.25-40.9-10.25-16.44 0-31.95 4.38-43.66 12.35C13.2 78.5 0 120.86 0 153.82v181.15c0 35.82 18.04 82.93 41.96 109.57l6.58 7.35c24.5 27.3 70.64 47.88 107.32 47.88H471.2c43.51 0 77.6-26.7 77.6-60.8 0-32.54-29.16-68.46-56.6-85.74l-29.93-18.84c-19.44-12.25-39.81-41.38-43.59-62.36-6.24-34.74-28.68-70.76-52.2-83.78a83.75 83.75 0 0 0-39.95-10.17c-15.42 0-29.38 4.45-39.3 12.56-14.87 12.14-31.9 36.06-39.57 55.64-4.66 11.86-20.82 38.58-36.56 57.96-6.92 8.5-17.68 11.7-23.37 6.45-10.1-9.33-21.39-38.22-21.39-62.95v-96.15c0-32.75-15.2-76.23-43.36-92.32zM151.46 279l-9.27 2.4c-2.97-11.55-4.55-23.19-4.55-33.65v-15.67h9.56v15.67c.02 9.68 1.48 20.48 4.26 31.25zm-5.66-144.59a108.2 108.2 0 0 1 1.4 17.18v32h-9.56v-32c0-5.08-.43-10.34-1.29-15.66l9.45-1.52zM82.08 68.15c11.56 0 22.72 2.74 31.43 7.72 4.61 2.64 9.06 6.64 13.18 11.89l-7.51 5.9c-3.37-4.27-6.87-7.46-10.42-9.49-7.3-4.17-16.76-6.46-26.68-6.46l-2.08.03-.3-9.55 2.38-.04zM35.31 92.73l8.16 4.98c-7.03 11.5-12.29 27.92-14.08 43.88l-9.5-1.07c1.96-17.54 7.58-34.96 15.42-47.79zm-16.19 96.8h9.57V238h-9.57v-48.48zm0 96.96h9.57v48.48h-9.57v-48.48zm28.3 133.98c-8.54-12.58-16.08-28.55-21.26-44.97l9.13-2.87c4.9 15.56 12 30.64 20.04 42.46l-7.91 5.38zm80.63 56.15A156.85 156.85 0 0 1 82.65 456l5.33-7.94a146.75 146.75 0 0 0 42.56 19.33l-2.49 9.23zm97.87 4.03h-48.48v-9.56h48.48v9.56zm96.97 0H274.4v-9.56h48.48v9.56zm96.96 0h-48.48v-9.56h48.48v9.56zm51.36 0h-2.87v-9.56h2.87c15.51 0 29.79-4.75 39.19-13.04l6.32 7.17c-11.12 9.8-27.71 15.43-45.5 15.43zm20.65-104.18c13.41 10.76 24.95 24.98 31.67 39.02l-8.63 4.13c-6.1-12.79-16.68-25.8-29.01-35.68l5.97-7.47zm-73.46-59.81c9.59 13.93 21.11 25.7 32.44 33.14l-5.25 8c-12.34-8.11-24.8-20.8-35.07-35.71l7.88-5.43zm-38.04-88.46c9.32 13.85 16.36 30.7 19.31 46.25l-9.39 1.79c-2.72-14.33-9.22-29.89-17.85-42.7l7.93-5.34zm-81.03-22.74c9-7.34 24.6-10.04 39.94-6.97l-1.88 9.38c-12.44-2.48-25.3-.47-32.02 5.01a70.45 70.45 0 0 0-7.35 7.07l-7.06-6.46a79.56 79.56 0 0 1 8.37-8.03zm-7.17 58.29c4.66-11.87 16.72-29.05 25.3-36.05.6-.47 3.58-1.8 9.07-1.8 5.86 0 11.98 1.52 16.78 4.19 8.72 4.83 24.08 26.86 28.32 50.42 6.16 34.28 34.17 74.85 65.16 94.36l29.92 18.84c20.6 12.97 34.25 35.84 34.25 45.27 0 3.34-10.24 13-29.78 13H155.85c-22.91 0-56.43-14.96-71.73-32l-6.59-7.35C61.7 394.98 47.8 358.7 47.8 334.98V153.83c0-25.45 11.33-48.73 17.5-52.91 2.9-1.97 8.82-4.08 16.78-4.08 6.53 0 12.79 1.44 17.18 3.95 7.67 4.38 19.26 26.88 19.26 50.8v96.17c0 36.57 15.8 78.73 36.77 98.07a57.92 57.92 0 0 0 39.44 15.3c20.18 0 39.67-9.75 53.47-26.73 17.62-21.67 36.93-52.7 43.96-70.65zm-27.7-8.06 8.78 3.8c-4.78 11.02-14.07 26.97-24.86 42.65l-7.88-5.42c10.3-14.97 19.5-30.69 23.96-41.03zm-93.52 65.02a42.98 42.98 0 0 0 3.8 4.04c8.9 8.2 22.17 9.9 34.4 4.56l3.83 8.77a45.48 45.48 0 0 1-18.24 3.9 38.32 38.32 0 0 1-26.47-10.2 52.6 52.6 0 0 1-4.67-4.94l7.35-6.13z" />
                  </svg>
                  <span class="ml-3">Ver Circuitos</span>
                </a>
              </li>

              <li>
                <a
                  href="#"
                  class="flex items-center w-full p-2 text-base font-normal transition duration-75 rounded-lg pl-11 group text-white hover:bg-[#0f0f0f]"
                >
                  <svg
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" />
                  </svg>
                  <span class="ml-3">Ver Campeonatos</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a
              href="/messageList"
              class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-[#0f0f0f] group"
            >
              <svg
                aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 text-white transition duration-75 group-hover:text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"
                ></path>
                <path
                  d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"
                ></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Mensajes</span>
              {
                (emailSearchQuery?.rows[0]?.NoReaded ?? 0 > 0) ? (
                  <span class="inline-flex items-center justify-center w-5 h-5 text-xs font-semibold rounded-full bg-[#da392b] text-white">
                    {emailSearchQuery?.rows[0]?.NoReaded}
                  </span>
                ) : null
              }
            </a>
          </li>
        ) : null
      }

    </ul>
    <ul>
      <li class="mt-8">
        <form action="/api/auth/signout">
          <a
            class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-[#0f0f0f] group"
          >
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-6 h-6 text-white transition duration-75 group-hover:text-white"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"
              ></path>
              <path d="M15 12h-12l3 -3"></path>
              <path d="M6 15l-3 -3"></path>
            </svg>
            <button class="ml-3" type="submit">Cerrar sesión</button>
          </a>
        </form>
      </li>
    </ul>
  </div>

  <div
    class="absolute bottom-0 left-0 z-20 justify-center hidden w-full p-4 space-x-4 border-r lg:flex bg-[#1919c] border-[#da392b]"
  >
    <div class="flex gap-4 py-1">
      <a href="https://x.com/EspRacingCom" target="_blank">
        <img
          class="w-8 .p-2 invert"
          src="/img/social/brand-x.svg"
          alt="Twitter ESP Racing"
        />
      </a>

      <a href="https://www.instagram.com/espsimracingoficial/" target="_blank">
        <img
          class="w-8 .p-2 invert"
          src="/img/social/brand-instagram.svg"
          alt="Instagram ESP Racing"
        />
      </a>

      <a href="https://www.paypal.com/es/home" target="_blank">
        <img
          class="w-8 .p-2 invert"
          src="/img/social/brand-paypal.svg"
          alt="Paypal ESP Racing"
        />
      </a>

      <a href="https://discord.gg/hjawMXGU6k" target="_blank">
        <img
          class="w-8 .p-2 invert"
          src="/img/social/brand-discord.svg"
          alt="Discord ESP Racing"
        />
      </a>

      <a href="https://www.youtube.com/@esp-racing-com-es" target="_blank">
        <img
          class="w-8 .p-2 invert"
          src="/img/social/brand-youtube.svg"
          alt="Youtube ESP Racing"
        />
      </a>

      <a href="https://www.twitch.tv/sergig_" target="_blank">
        <img
          class="w-8 .p-2 invert"
          src="/img/social/brand-twitch.svg"
          alt="Twitch ESP Racing"
        />
      </a>
    </div>
  </div>
</aside>

<script
  is:inline
  data-astro-rerun
  src="https://unpkg.com/@themesberg/flowbite@1.1.1/dist/flowbite.bundle.js"
></script>
