---
import RulesViewer from "@/components/RulesViewer";
---

<article class = "rounded-lg bg-lightPrimary m-3 p-6 text-darkPrimary">
  <h1 class = "font-bold text-primary text-center text-3xl">
    Normativa ESP Racing
  </h1>

  <RulesViewer client:load />