---
import RulePenalties from "@/components/RulePenalties.astro";
---
<article class = "rounded-lg bg-[#f9f9f9] m-3 p-6 text-[#0f0f0f]">
  <h1 class = "font-bold text-[#da392b] text-center text-3xl">
    Normativa Campeonato Twingo Cup 2
  </h1>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    1.- Introducción
    <ul>
      <li class = "text-lg font-normal">Todos los pilotos deben conocer y comprender la normativa vigente</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    2.- Resumen de Normativa
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.01.-</span> Todos los pilotos tendrán un mismos estatus para competir.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.02.-</span> Campeonato compuesto por 4 carreras, disputadas cada quinces días.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.03.-</span> Setup fijo y semicerrado.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.04.-</span> Inscripción por carrera y se abrirá el Jueves a las 21:00 (GMT +1) de la semana de carrera.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.05.-</span> Circuitos y vehículos con diseños personalizados oficiales proporcionados por la comunidad.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.06.-</span> Parrilla con un máximo de 30 pilotos en un unico split salvo la primera carrera que el máximo asciende a 40.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.07.-</span> Para este campeonato, se suprime el 2º split.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.08.-</span> Realizar 10 vueltas válidas como mínimo para poder inscribirse.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.09.-</span> Clasificación de 15 minutos. 2 Carreras de 20 minutos cada una, con parrilla inversa de los 12 primeros.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.10.-</span> Hora de inicio de la Clasificación: 17:30 (GMT +1) y siempre que no se diga lo contrario por los canales oficiales de información de nuestro Discord.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">2.11.-</span> En los campeonatos con múltiples coches o múltiples categorías, no se permite el intercambio de coche/categoría salvo excepciones que permita la organización por Discord.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    3.- Planificación previa a la Carrera
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.01.-</span> Los entrenamientos en el servidor oficial para cada carrera empiezan el día posterior a la celebración de lade la carrera, a elección de la organización).</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.02.-</span> Habrá 15 días de entrenamiento como mínimo para cada carrera.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.03.-</span> En el Discord de ESP Racing, en el canal de #formulario-registro, el Jueves a las 21:00 (GMT +1) de semana de carrera se pondrá una captura de los tiempos que son válidos, junto a las vueltas válidas y en la parte superior, se habilitará el formulario de Google donde haréis vuestra inscripción para esa carrera.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.04.-</span> El formulario deberá contener los siguientes datos:</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">3.04.1.-</span> Nombre usuario en el Discord (o alias que se asignó junto al dorsal).</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">3.04.2.-</span> Nombre de la tabla de tiempos.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">3.04.3.-</span> Posición en la tabla de tiempos.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">3.04.4.-</span> Vueltas validas realizadas.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">3.04.5.-</span> Coche a elegir (si hay multiclase o multicoche a escoger).</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">3.04.6.-</span> Vuestro SteamID.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.05.-</span> Las incripciones se hacen cada carrera, no hay una inscripción para todo el campeonato.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.06.-</span> Hay que realizar un mínimo de 10 vueltas válidas para poder entrar en el registro en Fase 1. Si no se tienen las vueltas validas mínimas antes de la apertura de inscripciones, las vueltas pueden realizarse a posterior y así poder entrar en la inscripción en Fase 2.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.07.-</span> El Sábado previo al día de carrera a las 18:00 (GMT +1) se publicarán aquellos pilotos inscritos entre la Fase 1 y la Fase 2. La Fase 2 cierra su inscripción 30 min antes del inicio del Briefing o cuando se llena la parrilla.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.08.-</span> Para la entrada en carrera a través de la Fase 2, se han de dar las 10 vueltas válidas mínimas en el servidor y un admin tiene que comprobar a traves del registro oficial del servidor dos cosas:</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">3.08.1.-</span> El piloto tiene las 10 vueltas mínimas requeridas</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">3.08.2.-</span> El piloto está dentro del umbral del 107%, es decir, su tiempo más rápido registrado está por debajo del limite del 107% del mejor tiempo que se haya marcado hasta el Jueves a las 21:00 para cada Split.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.09.-</span> El umbral del 107% se aplicará de la siguiente manera: si el piloto puede entrar en el Split 1, se le aplicará el umbral de 107% del mejor tiempo que se haya dado hasta el Jueves a las 21:00.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.10.-</span> Para escoger a los pilotos que entran en la carrera en Fase 2, irán entrando por orden de recogida de petición, preferiblemente si se hace por el formulario oficial, pero también se puede pedir la entrada en carrera por un mensaje directo a algún administrador. Podrán entrar tantos pilotos de Fase 2 como huecos haya disponible.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.11.-</span> Aquellos pilotos que deseen retransmitir su carrera, pueden hacerlo con libertad salvo el periodo de Briefing, ya que ese canal es de uso privado para los pilotos y organización, donde las conversaciones tienen que ser privadas.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.12.-</span> Si se desea, la Clasificación no es obligatoria si el piloto no quiere clasificar en la carrera.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.13.-</span> Briefing de 15 minutos antes de la Clasificación en el canal de audio correspondiente.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">3.14.-</span> El Domingo de carrera, por la mañana, se cerrará por ID para aquellos pilotos que estén inscritos y corran en el Split 1, y es muy recomendado el entrar antes de empezar el protocolo de Briefing para comprobar que el diseño personalizado, el nombre propio o el nombre del equipo no sea el erróneo, o simplemente, no pueda entra por otro tipo de fallo.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    4.- Planificación durante la Carrera
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.01.-</span> La sesión de Clasificación son de 16 minutos, pero solo se podrá rodar durante 15 minutos. El primer minuto de la sesión es para evitar un fallo tipico de algunos circuitos proporcionando lo que nosotros llamamos "pole fantasma".</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.02.-</span> En ese minuto extra de sesión, los pilotos podrán permanecer en su casilla de box o arrancar e ir a la línea final de boxes, donde tendrán que permanecer en la línea rápida de boxes (fast lane) hasta que pase ese minuto. No se podrán atravesar los coches que ya esten posicionados en esta línea rápida.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.03.-</span> Tanto en clasificación como en carrera, habrá libertad de uso de compuestos de neumáticos.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.04.-</span> Para la clasificación y carrera, se habilitarán una serie de canales de audio en Discord; es altamente recomendable estar en alguno de ellos, no importa si estas solo o acompañado con mucha gente, ya que ahí podreís hacer vuestras estrategías hablando y si fuera necesario que algún comisario tenga que hablar con alguno de los integrantes del equipo o con el equipo al completo.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.05.-</span> Si se quiere hablar con algun administrador, puede escribir un mensaje por el juego, o en el canal de de Discord de carrera y un admin irá a resolveros la petición.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.06.-</span> Si algún piloto desea estar en silencio, ese piloto puede buscar un canal vacío o pedir a los compañeros que están en su mismo canal que estén en silencio.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.07.-</span> La salida se hará en parado, desde parrilla ordenados tal cual se terminó la clasificación. En caso de existir una segunda carrera consecutiva, las posiciones de salida serán las de finalización de la prueba anterior invirtiendo a los 12 primeros pilotos.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.08.-</span> Tanto en clasificación como en carrera, esta terminantemente prohibido el uso de esc+box o teletransportarse a pit o cualquier variante de estas acciones. Una variante de esto es considerado por ejemplo que el propio servidor te devuelva a boxes.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.09.-</span> En clasificación, solo está permitido el esc+box o alguna variante de este metodo si y solo si el coche se queda sin combustible o tiene una rotura muy grande impidiendo que vuelva a boxes. Si esto ocurre, el piloto hará esc+box y su clasificación habrá terminado, no podrá volver a salir a pista en ninguna circunstancia.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.10.-</span> En carrera, solo esta permitido el esc+box o alguna variante de este metodo, las mismas acciones que el punto anterior en clasificación. Posteriormente dicho teletransporte será revisado por la organización y podrá ser sancionado con diferentes lastres, segun se indica en el punto 11 de la normativa.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.11.-</span> Hay que respetar las banderas amarillas en toda circunstancia, incluso si fuera necesario, frenar el coche. La desobediencia de banderas amarillas puede conllevar posibles investigaciones si un usuario reclama una acción donde se esté involucrado o incluso los propios comisarios pueden entrar de oficio.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.12.-</span> El vehiculo que está accidentado, deberá estar con el freno pisado en todo momento y solo se podrá reincorporar a la carrera cuando tenga un espacio libre y sin perjudicar a ningun otro piloto.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.13.-</span> Si hubiera una accidente muy grave, donde haya muchos pilotos implicados, la dirección podrá sacar un coche de seguridad (ya sea físico o virtual) para reagrupar a la gente (esto en casos muy excepcionales y si hay posibilidad de tener un SC), o incluso reiniciar la sesión.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">4.14.-</span> Si la dirección de carrera ve comportamientos sucios y/o antideportivos en pista, pueden sacar bandera negra al coche que está provocando dichas acciones.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    5.- Planificación posterior a la Carrera
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">5.01.-</span> Toda conversación sobre la carrera se realizará siempre en sus correspondientes canales de texto o audio.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">5.02.-</span> Los permisos de acceso a los canales especificos de las carreras, serán borrados después de varios días de inactividad en dicho canal.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">5.03.-</span> Cualquier reclamación que se quiera hacer de la carrera, se podrá hacer desde el Lunes postcarrera, hasta el Martes a las 23:59 (GMT +1).</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">5.04.-</span> Los resultados de carrera, junto a las clasificaciones de los campeonatos y sanciones saldrán entre el Miércoles y el Viernes después de la carrera.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    6.- Puntos extras sobre la Carrera
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.01.-</span> Quien comience una carrera deberá de finalizarla; el imcumplimiento de esta norma podrá acarrear consecuencias, salvo por motivos de rotura o internet.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.02.-</span> Un ping alto o inestable puede ser motivo de abandono de carrera o expulsión del servidor si el piloto omite las recomendaciones.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.03.-</span> Límites de pista propios del Assetto Corsa y tambien vigilados por la app de Real Penalty.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.04.-</span> Apps necesarias y/u obligatorias</li>
      <ul class = "ml-3 text-lg font-normal">
        <li><span class = "text-[#da392b]">6.04.1.-</span> Obligatoriedad de Helicorsa o similar (incluido en Real Penalty): <a href="https://www.racedepartment.com/downloads/helicorsa.5199/">https://www.racedepartment.com/downloads/helicorsa.5199/</a></li>
        <li><span class = "text-[#da392b]">6.04.2.-</span> Mini mapa de uso muy recomendable para las incorporaciones a pista (sea el propio del juego, o uno personalizado)</li>
        <li><span class = "text-[#da392b]">6.04.3.-</span> Obligatorio: SOL (versión 2.2 o superior ) y CSP (Custom Shader Patch en su versión 0.2.23 o superior): <a href="https://www.racedepartment.com/downloads/sol.24914/">https://www.racedepartment.com/downloads/sol.24914/</a></li>
        <li><span class = "text-[#da392b]">6.04.4.-</span> Recomendamos encarecidamente la aplicación Track Map Display: <a href="https://www.racedepartment.com/downloads/track-map-display-extended.51962/">https://www.racedepartment.com/downloads/track-map-display-extended.51962/</a></li>
        <li><span class = "text-[#da392b]">6.04.5.-</span> Real Penalty, para el control de limites de pista y control de limite de velocidad en boxes: <a href="https://www.patreon.com/posts/real-penalty-app-79268083">https://www.patreon.com/posts/real-penalty-app-79268083</a></li>
    </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.05.-</span> La dirección puede actuar de oficio en casos de accidentes muy graves, llegando a intervenir en las reclamaciones en las vueltas que considere y con posibilidad de sacar incluso un SC/VSC en carrera.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.06.-</span> Al finalizar la carrera, queda prohibido hacer cuualquier tipo de celebración, trompo, zig-zag o similares dentro de la pista, cuando se esté cerca de otro piloto. Si se está solo, excepto trompos, se permiten esos tipos de celebraciones dentro de pista.</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">6.06.1.-</span> Se recomienda volver de una manera ordenada a los boxes, pero tambien se permite hacer esc+box, siempre que este se haga después de la primera curva o fuera de pista.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">6.06.2.-</span> Si se quiere volver a box conduciendo, esto se hará a una velocidad algo más lenta que la velocidad de carrera y en una unica fila. Solo se permite hacer paralelos de 2 o más coches si se deja un espacio de 1 coche en algún extremo de la pista para que los demás pilotos puedan pasar.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">6.06.3.-</span> Dentro de pista, los tipos de celebraciones que se permiten, estando solos o con gente que esté dentro del mismo canal de voz, ya que se entiende que es coordinado, son zig-zags, quemada de rueda, drift o paseo en paralelo, si el ancho del circuito lo permite; y todo esto se tiene que hacer sin detener el coche, salvo perdida del control del mismo. Fuera de pista se permite todo lo anterior más la posibilidad de hacer trompos, siempre y cuando no se entre en pista.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">6.06.4.-</span> Si hay pilotos que aun no han terminado la carrera, pero otros si, los pilotos que ya acabaron actuarán como pilotos que se les enseña bandera azul pero de manera exagerada, es decir, tienen que casi desaparecer de la pista y no molestar a los pilotos que aun están compitiendo.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">6.06.5.-</span> Solo al finalizar la carrera, si hay algún camino que lo permita, se puede transitar por él para llegar antes a boxes. Este camino tendrá que ser de asfalto o cemento, no sirven caminos de tierra o caminos inventados por el cesped. Y todos estos cortes de pist, tendrán que realizarse de manera segura, dejando pasar si es necesario a pilotos que aun van en carrera o pilotos que han decidido ir por la pista normal.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.07.-</span> Caracteristicas sobre consumos y desgastes del campeonato: Combustible (100%), Daños (100%), Neumáticos (100%), Multiplicador de Rebufo (100%)</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.08.-</span> La organización solo reiniciará las sesiones oficiales cuando sean fallos de configuración del propio servidor o haya un accidente importante y se decida actuar.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.09.-</span> Ante una posible caída del servidor, si se ha cumplido el 75% del tiempo de carrera, la carrera quedará por finalizada; en caso contrario, se reanudaría en otro momento cuando dictamine la organización si así lo ve conveniente (si la organización ve correcto el tiempo transcurrido de la carrera aun no llegando a ese 75%, tendrá total libertad de elección de acabar o proseguir la carrera.)</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">6.10.-</span> Es preferible que si un piloto tiene dudas de que no pueda terminar la carrera por problemas externos, por respeto a los demás pilotos deberá comunicarlo a la organización y no debería tomar la salida de la carrera.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    7.- Temas de Seguridad en Pista
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">7.01.-</span> El código de colores de banderas es el mismo que se usa en todas las competiciones profesionales y son:</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">7.01.1.-</span> Bandera Amarilla: zona de peligro. Cuando se despliegue una bandera amarilla en pista, hay que ir con la máxima precaución, tanto como si eres el que la provocó como si vas bien por la pista.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">7.01.2.-</span> Bandera Azul: coche en una vuelta o más que tú está aproximandose. Cuando un piloto vea la bandera azul, ha de respetarla y dejarse pasar en el sitio que más seguro le parezca y donde menos haga perder tiempo tanto al compañero como a él mismo. El piloto doblado se recomienda que no reduzca exageradamente la velocidad ni se salga de pista porque esto puede provocar algún accidente peor. Y el piloto que va a doblar, respetar al compañero doblado y no impacientarse y tirar el coche donde no hay hueco, mejor espera a que el doblado se deje pasar en sitios seguros (intentar leer al compañero.)</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">7.01.3.-</span> Bandera Verde: reanudación de carrera. Esta bandera saldrá cuando se termine una zona de bandera amarilla o cuando empiece la carrera.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">7.01.4.-</span> Bandera a cuadros: final de carrera. Cuando se vea esta bandera al cruzar linea de meta, hay que respetar el punto de normativa 6.06.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">7.01.5.-</span> Bandera Roja: fin de sesión. Esta bandera será desplegada cuando haya algún problema en pista o en cualquier otro ambito y se desea que los pilotos vuelvan al box por seguridad. Si fuese necesario, podría darse la situación de tener que aparcar el coche en pista; el piloto tiene que estar atento y conducir despacio.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">7.01.6.-</span> Bandera Blanca y Negra: sanción. Esta bandera se enseñará a los pilotos que cometan alguna infracción y hayan sido sancionados, como por exceso de cortes de pista o por saltarse la salida entre otras opciones.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">7.01.7.-</span> Cartel de SC/VSC: Safety Car en pista. Cuando salga este cartel o esta bandera, significará que el coche de seguridad está en pista, ya sea el físico o el virtual. Si el coche de seguridad sale, hay que ir respetando al coche que se tiene delante sin adelantarlo o hacer paralelos. Si es un coche de seguridad virtual, el coche que vaya primero marcará el ritmo de seguridad y no se podrá adelantar nadie ni ponerse en paralelo con otro piloto. Los unicos adelantamientos permitidos bajo estos periodos son entre las lineas de SC pintadas horizontalmente si algún piloto entra en boxes.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">7.02.-</span> Las incoporaciones a la pista han de ser lo más seguras que sean posibles y si no es posible quitarse de la pista o trazada, quedarse quieto hasta que pase el peligro de los demás coches que van corriendo, porque si no se puede provocar un accidente mayor.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    8.- Calendario
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">8.01.-</span></li>
      <img
        class = "block w-4/5 max-w-screen-xl pb-10 mx-auto"
        src = "/img/actualchamp/CartelCampeonato.webp">
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    9.- Puntuaciones
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">9.01.-</span></li>
      <img
        class = "block w-4/5 max-w-screen-xl pb-10 mx-auto"
        src = "/img/rules/Puntuacion.webp"
      >
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">9.02.-</span> Asignación de puntos a vueltas rápidas</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">9.02.1.-</span> Solo se otorgará los puntos de vuelta rápida a aquel piloto que termine la carrera. Si se produce un DNF, el piloto mantendrá la vuelta rápida pero no recibirá los puntos correspondientes.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">9.02.2.-</span> Si el piloto con la vuelta rápida acaba siendo descalificado de la carrera, no se le otorgarán ni los puntos por vuelta rápida ni se le registrará como vuelta rápida de carrera. Si el 2º piloto con mejor vuelta tambien fuera descalificado, pasariamos al 3º piloto con vuelta más rápida, y así hasta encontrar al piloto más rápido sin ser descalificado.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">9.03.-</span> Puntuación por equipos (2 pilotos por equipo)</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">9.03.1.-</span> Se basará en la puntuación obtenida por los componentes del equipo.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">9.03.2.-</span> No se permitirá cambios de compañeros en el transcurso del campeonato.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">9.03.3.-</span> Formación del equipo en cualquier momento del campeonato, siendo validas las puntuaciones de todos los GP que hayan participado del campeonato.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">9.04.-</span> En caso de empate en las clasificaciones, se resuelven de la siguiente manera:</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">9.04.1.-</span> Quien tenga la mejor posición en alguna carrera. Si tienen la mejor posición, se mirará la 2ª mejor y así hasta encontrar alguna diferente.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">9.04.2.-</span> Si empatán con las mismas posiciones obtenidas en todas las carreras, se mirará quien tiene más vueltas rápidas.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">9.04.3.-</span> Si tienen las mismas vueltas rápidas, se mirará quien consiguio antes su mejor posición.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">9.04.4.-</span> En el campeonato por equipos, se seguirán las mismas reglas, pero con los dos pilotos de cada equipo.</li>
      </ul>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    10.- Skins Personalizadas
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.01.-</span> Se aceptarán 1 sola skin y una única entrega por Piloto en cada Campeonato.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.02.-</span> Es imprescindible respetar las normas que dictamine la organización para su creación.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.03.-</span> Principalmente solo son válidas para el día de Carrera.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.04.-</span> Se proporcionará la pintura a través de un MP a cualquier administrador.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.05.-</span> El Domingo de Carrera no se añadirá niguna skin al servidor.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.06.-</span> No se reiniciará sesión por problemas con esta.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.07.-</span> La dirección tendrá que validar antes su diseño.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.08.-</span> Los logos oficiales de la comunidad son los que están en el canal #logos-obligatorios-skins, o en la carpeta de los templates proporcionados por la organización, que usareis para diseñar vuestra skin.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.09.-</span> Puntos extra exclusivos para este campeonato:</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">10.09.1.-</span> Para este campeonato, los neumáticos están prohibidos de ser cambiados. En este coche solo se permite hacer el cambio por neumáticos Michelin (son los que ya tiene, pero se admite otro diseño siempre que sean de esta marca).</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">10.09.2.-</span> Los dorsales serán únicos para cada piloto, habrá un canal dedicado en nuestro discord indicando que dorsal tiene que llevar cada piloto (cada uno elige el que quiera siempre y cuando no esté usado). Si se tiene un número ya escogido del campeonato anterior y se ha corrido con una skin personalizada en 2 carreras como mínimo, se mantendrá el mismo dorsal que el campeonato anterior si no se desea cambiarlo o vuestro dorsal por inactividad en campeonatos previos.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">10.09.3.-</span> Los números en los dorsales tendrán que ser visibles a cierta distancia lejana. Los dorsales laterales serán de color negro y en frontal de color blanco u otro que haga contraste evidente con el fondo negro del dorsal. No se permite decoraciones extra en el número, como bordes, relieves o sombras. Deben de estar en una fuente legible, y debe de colocarse en la misma posición que se indican en los coches base de la comunidad o en la propia plantilla. Se pueden rechazar skins si esta parte no se cumple, y tendrá que ser modificada por el autor, y no por la organización.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">10.09.4.-</span> Por si se quiere usar la fuente que usa la organización en las skins obligatorias y no se tiene esa fuente instalada. Para instalar la fuente Forza, dar doble clic en todos los archivos con extensión ".ttf" u "otf", se os abrirá una pantalla enseñando un muestreo de dicha fuente, y solo le tenéis que dar a instalar para que sola el coche para no alterar mucho el template.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">10.09.5.-</span> El archivo "livery.png" no puede ser el mismo que usan los diseños por defecto de la comunidad, es decir, no pueden ser el logo de ESP Racing, ya que a la hora de examinar las skins, es muy lioso buscar una skin que tiene el mismo logo de miniatura. También es obligatorio cambiar el archivo "ui_skin.json" con el bloc de notas, para evitar lo mismo que ocurre con el livery y a su vez, se recomienda usar otros archivos para el "ac_crew-dds", y también otra ropa de mecánicos y propio piloto, ya que esos son reservados para los diseños de la comunidad. Si un diseño tiene mal el archivo "livery.png", no será valido, y si tiene los mismos archivos "ac_crew.dds" y equitación de equipo/piloto que los diseños de la organización, estos serán eliminados del diseño, con previo aviso al piloto para que sea consciente de que eso no está permitido.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.10.-</span> Informar que una de las bases de la pintura es que sean visibles y de fácil reconocimiento los logos de Fun, MJGG y ESP, las skins que recibamos deberán de poseer unas dimensiones de logos parecidas al de las siguientes fotos (dependiendo del vehiculo), la ubicación es libre, pero recordamos que tienen que ser visibles a una distancia lejana, y se prefiere que haya un logo de cada comunidad en grande que muchos pequeños.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.11.-</span> Las pinturas que se reciban deberán de evitar en el nombre de la carpeta "espacios libres entre el nombre" ni "_" además de que sea fácil relacionarla con el nombre del piloto y uqe sea identificativo del piloto/equipo; solo habrá una entrega por piloto para todo el campeonato. Ejemplos de nombres de carpeta: ManuGonzalezFerrari, 016MrPotato, Psytake16ManuGonzalez. Cualquier combinatoria que sea posible de un vistazo saber de quién es la skin, sin tener que mirar otro lugar para buscarlo.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">10.12.-</span> Todo aquel diseño que no cumpla con estos parametros, será automaticamente descartado, y si se quiere usar, tendrá que ser modificado por el propio autor, no se va a permitir diseños que no cumplan dicha normativa y la organización no estará obligado a modificar una skin si esta no cumple los parámetros.</li>
      <div class = "flex flex-row justify-center gap-2 mx-3 md:gap-3 lg:gap-4 xl:gap-5 2xl:gap-6">
      <img
        class = "block w-1/2 max-w-screen-xl"
        src = "/img/rules/ejemplologos1.webp"
      >
      <img
        class = "block w-1/2 max-w-screen-xl"
        src = "/img/rules/ejemplologos2.webp"
        >
      </div>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    11.- Sanciones
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.01.-</span> Tipos de sanciones a las reclamaciones recibidas:</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.01.1.-</span> Aviso o Lance de Carrera: Aviso para el piloto sin penalización de tiempo.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.01.2.-</span> Sanción Leve: Penalización de 10 segundos extra al tiempo final de carrera.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.01.3.-</span> Sanción Media: Penalización de 20 segundos extra al tiempo final de carrera.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.01.4.-</span> Sanción Grave: Penalización de 40 segundos extra al tiempo final de carrera.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.01.5.-</span> Sanción Muy Grave: Penalización de 90 segundos extra al tiempo final de carrera.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.01.6.-</span> Sanción Antideportiva: Descalificación de la carrera, con posible lastre para la siguiente carrera; en algunos casos, puede llegar a ser motivo de expulsión de la comunidad en casos muy extremos.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.02.-</span> Cuadro de sanciones orientativo usado para la penalización (tabla orientativa para organización y pilotos. No se seguira al pie de la letra, ya que la labor de los comisarios es juzgar las acciones sin ver consecuencias. Esta tabla es solo para que se pueda seguir una estabilidad a lo largo de las carreras y sancionar de maneras equitativas.)</li>
      <RulePenalties />
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.03.-</span> En la dos primeras vueltas, las sanciones empezarán a contabilizar desde la Sanción Media; es decir, las acciones que sean penalizadas como Sanciones Leves y Medias serán penalizadas con el mismo tiempo, 20 segundos. Las acciones con sanciones de nivel superior mantendran sus respectivos tiempos.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.04.-</span> Salir a pista después de realizar un esc+box o variante no autorizado en Clasificación, serán 10 segundos a final de Carrera. Esta norma se puede saltar si un comisario lo permite explicitamente a un piloto en concreto por alguna acción que este estime oportuno.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.05.-</span> La incoporación de la aplicación Real Penalty, la app contar;a con su propio sistema de reglas y sanciones:</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.05.1.-</span> Control de limites de pista: será la linea blanca o lo que Real Penalty interprete como limite de pista, ya que hay ciertas partes de algunos circuitos como pueden ser pianos, moquetas o zonas asfaltadas/cementadas, que no se consideran fuera de pista (depende de la competición o zona del mundo). Si hubiera una ventaja lo suficientemente grande considerada por la organización, se aplicará el punto 11.08 de la normativa. Habrá un máximo de 4 cuts y serán contabilizados por el propio sistema y cuando se realiza el ultimo cut, habrá una sanción de Drive Through (DT) aplicada automáticamente por el sistema, que hay que cumplir en las siguientes 3 vueltas si no quieres ser descalificado. Si la penalización de DT ocurre en las ultimas vueltas, se aplicará una sanción equivalente en tiempo a un DT si no se realiza este, unos 20 segundos de sanción aplicados a final de carrera.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.05.2.-</span> Control de velocidad de pit lane: el limitador de box a la entrada de boxes estará limitado a la velocidad indicada en el punto 11.09 de la normativa. Si te saltas dicha velocidad, el sistema automáticamente te sancionará con un DT, que habrá que completar en las siguientes 3 vueltas para no ser descalificado. El DT no se podrá cumplir en la misma pasada por boxes que cometes la infracción por velocidad ya que el sistema no lo contabiliza de manera correcta y te hace repetir la maniobra.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.05.3.-</span> Control de salida: si algún piloto se salta la salida, el sistema le sancionará con un DT a completar en las siguientes 3 vueltas, sino serás descalificado.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.06.-</span> Es muy recomendable, para el correcto funcionamiento del sistema Real Penalty, que la penalización de DT sea por limites de pista, por límite de velocidad o por saltarse la salida, no la cumpláis en la misma vuelta que os da la sanción; es preferible que esperéis una vuelta más y en ese momento, cumplais la sanción.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.07.-</span> El Real Penalty introduce de manera obligatoria el uso de Helicorsa de manera propia en su app, así que, como recomendación, para que no tengais mareos o información erronea cuando conducís, es mejor que optéis por quitar vuestra app de Helicorsa o similar de la pantalla y usar la de Real Penalty, o mover la de Real Penalty a otro lugar donde no os moleste, pero donde la tengais a la vista y useis la vuestra propia.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.08.-</span> En determinados circuitos, cuando veamos que sea necesario complementar las sanciones de Real Penalty en lo relativo a los limites de pista, en Discord pondremos los limites de pista nuevos para las zonas a vigilar de manera manual y contabilizaremos de la siguiente manera si no se dice lo contrario: Hasta 4 cortes no hay sanción; 5 cortes = 5 segundos de sanción añadidos al final de carrera; a partir de ahí, cada corte extra será un segundo extra añadido al tiempo final. Contará como corte cuando el coche sobrepase la linea blanca con las 4 ruedas u otro limite que se indique por parte de la organización.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.09.-</span> El box estará limitado a 80 Km/h de forma automática en todas las pistas del campeonato.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.10.-</span> Los abandonos en plena carrera estarán sancionados con la siguiente tabla:</li>
      <ul>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.10.1.-</span> DNF sin explicación válida para la organización: Retirada de 5 puntos del campeonato y un lastre del 5% del peso del coche sin lastrar.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.10.2.-</span> DNF sin explicación válida para la organización: Retirada de 10 puntos del campeonato y un lastre del 10% del peso del coche sin lastrar. Si esto continua así, se irán incrementando en intervalos de 5 tanto los puntos a retitar como el porcentaje de kilos de lastre, hasta un máximo de 25 puntos retirados y un 25% extra de peso en el coche.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.10.3.-</span> DNF con explicación entendible para la organización: si es la primera vez que ocurre, se quedará en un aviso. Si ocurre más veces, la organización podría llegar a aplicar cualquiera de los puntos superiores.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.10.4.-</span> No presentado, pero avisa a la organización de la no presentación: sin sanción ni aviso.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.10.5.-</span> No presentado a la carrera sin avisar 1 vez: Aviso.</li>
        <li class = "ml-3 text-lg font-normal"><span class = "text-[#da392b]">11.10.6.-</span> No presentado a la carrera sin avisar varias veces: Retirada de 5 puntos del campeonato, lastre de 5% en su coche en la próxima carrera, o prohibición de clasificar en la próxima carrera, saliendo al final de parrilla.</li>
      </ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.11.-</span> Las sanciones de lastre no desaparecen de un campeonato a otro o de una temporada a otra. Siempre se aplicarán cuando el piloto corra la próxima carrera de campeonato (se excluyen eventos).</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.12.-</span> Si un piloto acabará con puntuación negativa al final del campeonato, contaría como una descalificación de este.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.13.-</span> Si un piloto tiene problemas de conexión, la organización le puede dejar sin correr para perseverar la seguridad de la carrera (sin acarrear en sanciones para el piloto).</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.14.-</span> Solo serán revisadas y juzgadas las acciones que se reclamen donde el reclamante está involucrado de manera directa.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.15.-</span> Cruzar línea de meta a traves de boxes para ganar una ventaja estará sancionado con 20 segundos extra a final de carrera.</li>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">11.16.-</span> En la siguiente ilustración, reflejamos con claridad lo que se considerará como paralelo y lo que no es estar en paralelo.</li>
      <img
      class = "block w-4/5 max-w-screen-xl pb-10 mx-auto"
      src = "/img/rules/Paralelo.webp"
    >
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    12.- Información Extra
    <ul>
      <li class = "text-lg font-normal"><span class = "text-[#da392b]">12.01.-</span> La organización se reserva el derecho de dictaminar cualquier tipo de acción que no esté escrita en la normativa y si está escrita una irregularidad y no la sanción, también podrá decidir. Es decir, cualquier laguna que exista en esta normativa, será la organización quien dictamine lo que sucederá.</li>
    </ul>
  </li>

</article>