---
---
<article class = "rounded-lg bg-[#f9f9f9] m-3 p-6 text-[#0f0f0f]">
  <h1 class = "font-bold text-[#da392b] text-center text-3xl">
    Normativa Campeonato Twingo Cup 2
  </h1>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    1.- Introducción
    <ul>
      <li class = "text-lg font-normal">Todos los pilotos deben conocer y comprender la normativa vigente</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    2.- Resumen de Normativa
    <ul>
      <li class = "text-lg font-normal">2.01.- Todos los pilotos tendrán un mismos estatus para competir.</li>
      <li class = "text-lg font-normal">2.02.- Campeonato compuesto por 4 carreras, disputadas cada quinces días.</li>
      <li class = "text-lg font-normal">2.03.- Setup fijo y semicerrado.</li>
      <li class = "text-lg font-normal">2.04.- Inscripción por carrera y se abrirá el Jueves a las 21:00 (GMT +1) de la semana de carrera.</li>
      <li class = "text-lg font-normal">2.05.- Circuitos y vehículos con diseños personalizados oficiales proporcionados por la comunidad.</li>
      <li class = "text-lg font-normal">2.06.- Parrilla con un máximo de 30 pilotos en un unico split salvo la primera carrera que el máximo asciende a 40.</li>
      <li class = "text-lg font-normal">2.07.- Para este campeonato, se suprime el 2º split.</li>
      <li class = "text-lg font-normal">2.08.- Realizar 10 vueltas válidas como mínimo para poder inscribirse.</li>
      <li class = "text-lg font-normal">2.09.- Clasificación de 15 minutos. 2 Carreras de 20 minutos cada una, con parrilla inversa de los 12 primeros.</li>
      <li class = "text-lg font-normal">2.10.- Hora de inicio de la Clasificación: 17:30 (GMT +1) y siempre que no se diga lo contrario por los canales oficiales de información de nuestro Discord.</li>
      <li class = "text-lg font-normal">2.11.- En los campeonatos con multiples coches o multiples categorías, no se permite el intercambio de coche/categoría salvo excepciones que permita la organización por Discord.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    3.- Planificación previa a la Carrera
    <ul>
      <li class = "text-lg font-normal">3.01.- Los entrenamientos en el servidor oficial para cada carrera empiezan el día posterior a la celebración de lade la carrera, a elección de la organización).</li>
      <li class = "text-lg font-normal">3.02.- Habrá 15 días de entrenamiento como mínimo para cada carrera.</li>
      <li class = "text-lg font-normal">3.03.- En el Discord de ESP Racing, en el canal de #formulario-registro, el Jueves a las 21:00 (GMT +1) de semana de carrera se pondrá una captura de los tiempos que son válidos, junto a las vueltas válidas y en la parte superior, se habilitará el formulario de Google donde haréis vuestra inscripción para esa carrera.</li>
      <li class = "text-lg font-normal">3.04.- El formulario deberá contener los siguientes datos:</li>
      <ul>
        <li class = "text-lg font-normal">3.04.1.- Nombre usuario en el Discord (o alias que se asignó junto al dorsal).</li>
        <li class = "text-lg font-normal">3.04.2.- Nombre de la tabla de tiempos.</li>
        <li class = "text-lg font-normal">3.04.3.- Posición en la tabla de tiempos.</li>
        <li class = "text-lg font-normal">3.04.4.- Vueltas validas realizadas.</li>
        <li class = "text-lg font-normal">3.04.5.- Coche a elegir (si hay multiclase o multicoche a escoger).</li>
        <li class = "text-lg font-normal">3.04.6.- Vuestro SteamID.</li>
      </ul>
      <li class = "text-lg font-normal">3.05.- Las incripciones se hacen cada carrera, no hay una inscripción para todo el campeonato.</li>
      <li class = "text-lg font-normal">3.06.- Hay que realizar un mínimo de 10 vueltas válidas para poder entrar en el registro en Fase 1. Si no se tienen las vueltas validas mínimas antes de la apertura de inscripciones, las vueltas pueden realizarse a posterior y así poder entrar en la inscripción en Fase 2.</li>
      <li class = "text-lg font-normal">3.07.- El Sábado previo al día de carrera a las 18:00 (GMT +1) se publicarán aquellos pilotos inscritos entre la Fase 1 y la Fase 2. La Fase 2 cierra su inscripción 30 min antes del inicio del Briefing o cuando se llena la parrilla.</li>
      <li class = "text-lg font-normal">3.08.- Para la entrada en carrera a través de la Fase 2, se han de dar las 10 vueltas válidas mínimas en el servidor y un admin tiene que comprobar a traves del registro oficial del servidor dos cosas:</li>
      <ul>
        <li class = "text-lg font-normal">3.08.1.- El piloto tiene las 10 vueltas mínimas requeridas</li>
        <li class = "text-lg font-normal">3.08.2.- El piloto está dentro del umbral del 107%, es decir, su tiempo más rápido registrado está por debajo del limite del 107% del mejor tiempo que se haya marcado hasta el Jueves a las 21:00 para cada Split.</li>
      </ul>
      <li class = "text-lg font-normal">3.09.- El umbral del 107% se aplicará de la siguiente manera: si el piloto puede entrar en el Split 1, se le aplicará elumbral de 107% del mejor tiempo que se haya dado hasta el Jueves a las 21:00.</li>
      <li class = "text-lg font-normal">3.10.- Para escoger a los pilotos que entran en la carrera en Fase 2, irán entrando por orden de recogida de petición, preferiblemente si se hace por el formulario oficial, pero también se puede pedir la entrada en carrera por un mensaje directo a algún administrador. Podrán entrar tantos pilotos de Fase 2 como huecos haya disponible.</li>
      <li class = "text-lg font-normal">3.11.- Aquellos pilotos que deseen retransmitir su carrera, pueden hacerlo con libertad salvo el periodo de Briefing, ya que ese canal es de uso privado para los pilotos y organización, donde las conversaciones tienen que ser privadas.</li>
      <li class = "text-lg font-normal">3.12.- Si se desea, la Clasificación no es obligatoria si el piloto no quiere clasificar en la carrera.</li>
      <li class = "text-lg font-normal">3.13.- Briefing de 15 minutos antes de la Clasificación en el canal de audio correspondiente.</li>
      <li class = "text-lg font-normal">3.14.- El Domingo de carrera, por la mañana, se cerrará por ID para aquellos pilotos que estén inscritos y corran en el Split 1, y es muy recomendado el entrar antes de empezar el protocolo de Briefing para comprobar que el diseño personalizado, el nombre propio o el nombre del equipo no sea el erróneo, o simplemente, no pueda entra por otro tipo de fallo.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    4.- Planificación durante la Carrera
    <ul>
      <li class = "text-lg font-normal">4.01.- La sesión de Clasificación son de 16 minutos, pero solo se podrá rodar durante 15 minutos. El primer minuto de la sesión es para evitar un fallo tipico de algunos circuitos proporcionando lo que nosotros llamamos "pole fantasma".</li>
      <li class = "text-lg font-normal">4.02.- En ese minuto extra de sesión, los pilotos podrán permanecer en su casilla de box o arrancar e ir a la línea final de boxes, donde tendrán que permanecer en la línea rápida de boxes (fast lane) hasta que pase ese minuto. No se podrán atravesar los coches que ya esten posicionados en esta línea rápida.</li>
      <li class = "text-lg font-normal">4.03.- Tanto en clasificación como en carrera, habrá libertad de uso de compuestos de neumáticos.</li>
      <li class = "text-lg font-normal">4.04.- Para la clasificación y carrera, se habilitarán una serie de canales de audio en Discord; es altamente recomendable estar en alguno de ellos, no importa si estas solo o acompañado con mucha gente, ya que ahí podreís hacer vuestras estrategías hablando y si fuera necesario que algún comisario tenga que hablar con alguno de los integrantes del equipo o con el equipo al completo.</li>
      <li class = "text-lg font-normal">4.05.- Si se quiere hablar con algun administrador, puede escribir un mensaje por el juego, o en el canal de de Discord de carrera y un admin irá a resolveros la petición.</li>
      <li class = "text-lg font-normal">4.06.- Si algún piloto desea estar en silencio, ese piloto puede buscar un canal vacío o pedir a los compañeros que están en su mismo canal que estén en silencio.</li>
      <li class = "text-lg font-normal">4.07.- La salida se hará en parado, desde parrilla ordenados tal cual se terminó la clasificación. En caso de existir una segunda carrera consecutiva, las posiciones de salida serán las de finalización de la prueba anterior invirtiendo a los 12 primeros pilotos.</li>
      <li class = "text-lg font-normal">4.08.- Tanto en clasificación como en carrera, esta terminantemente prohibido el uso de esc+box o teletransportarse a pit o cualquier variante de estas acciones. Una variante de esto es considerado por ejemplo que el propio servidor te devuelva a boxes.</li>
      <li class = "text-lg font-normal">4.09.- En clasificación, solo está permitido el esc+box o alguna variante de este metodo si y solo si el coche se queda sin combustible o tiene una rotura muy grande impidiendo que vuelva a boxes. Si esto ocurre, el piloto hará esc+box y su clasificación habrá terminado, no podrá volver a salir a pista en ninguna circunstancia.</li>
      <li class = "text-lg font-normal">4.10.- En carrera, solo esta permitido el esc+box o alguna variante de este metodo, las mismas acciones que el punto anterior en clasificación. Posteriormente dicho teletransporte será revisado por la organización y podrá ser sancionado con diferentes lastres, segun se indica en el punto 11 de la normativa.</li>
      <li class = "text-lg font-normal">4.11.- Hay que respetar las banderas amarillas en toda circunstancia, incluso si fuera necesario, frenar el coche. La desobediencia de banderas amarillas puede conllevar posibles investigaciones si un usuario reclama una acción donde se esté involucrado o incluso los propios comisarios pueden entrar de oficio.</li>
      <li class = "text-lg font-normal">4.12.- El vehiculo que está accidentado, deberá estar con el freno pisado en todo momento y solo se podrá reincorporar a la carrera cuando tenga un espacio libre y sin perjudicar a ningun otro piloto.</li>
      <li class = "text-lg font-normal">4.13.- Si hubiera una accidente muy grave, donde haya muchos pilotos implicados, la dirección podrá sacar un coche de seguridad (ya sea físico o virtual) para reagrupar a la gente (esto en casos muy excepcionales y si hay posibilidad de tener un SC), o incluso reiniciar la sesión.</li>
      <li class = "text-lg font-normal">4.14.- Si la dirección de carrera ve comportamientos sucios y/o antideportivos en pista, pueden sacar bandera negra al coche que está provocando dichas acciones.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    5.- Planificación posterior a la Carrera
    <ul>
      <li class = "text-lg font-normal">5.01.- Toda conversación sobre la carrera se realizará siempre en sus correspondientes canales de texto o audio.</li>
      <li class = "text-lg font-normal">5.02.- Los permisos de acceso a los canales especificos de las carreras, serán borrados después de varios días de inactividad en dicho canal.</li>
      <li class = "text-lg font-normal">5.03.- Cualquier reclamación que se quiera hacer de la carrera, se podrá hacer desde el Lunes postcarrera, hasta el Martes a las 23:59 (GMT +1).</li>
      <li class = "text-lg font-normal">5.04.- Los resultados de carrera, junto a las clasificaciones de los campeonatos y sanciones saldrán entre el Miércoles y el Viernes después de la carrera.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    6.- Puntos extras sobre la Carrera
    <ul>
      <li class = "text-lg font-normal">6.01.- Quien comience una carrera deberá de finalizarla; el imcumplimiento de esta norma podrá acarrear consecuencias, salvo por motivos de rotura o internet.</li>
      <li class = "text-lg font-normal">6.02.- Un ping alto o inestable puede ser motivo de abandono de carrera o expulsión del servidor si el piloto omite las recomendaciones.</li>
      <li class = "text-lg font-normal">6.03.- Límites de pista propios del Assetto Corsa y tambien vigilados por la app de Real Penalty.</li>
      <li class = "text-lg font-normal">6.04.- Apps necesarias y/u obligatorias</li>
      <ol class = "text-lg font-normal text-center">
        <li>&ensp;Obligatoriedad de Helicorsa o similar (incluido en Real Penalty): <a href="https://www.racedepartment.com/downloads/helicorsa.5199/">https://www.racedepartment.com/downloads/helicorsa.5199/</a></li>
        <li>&ensp;Mini mapa de uso muy recomendable para las incorporaciones a pista (sea el propio del juego, o uno personalizado)</li>
        <li>&ensp;Obligatorio: SOL (versión 2.2 o superior ) y CSP (Custom Shader Patch en su versión 0.2.23 o superior): <a href="https://www.racedepartment.com/downloads/sol.24914/">https://www.racedepartment.com/downloads/sol.24914/</a></li>
        <li>&ensp;Recomendamos encarecidamente la aplicación Track Map Display: <a href="https://www.racedepartment.com/downloads/track-map-display-extended.51962/">https://www.racedepartment.com/downloads/track-map-display-extended.51962/</a></li>
        <li>&ensp;Real Penalty, para el control de limites de pista y control de limite de velocidad en boxes: <a href="https://www.patreon.com/posts/real-penalty-app-79268083">https://www.patreon.com/posts/real-penalty-app-79268083</a></li>
    </ol>
      <li class = "text-lg font-normal">6.05.- La dirección puede actuar de oficio en casos de accidentes muy graves, llegando a intervenir en las reclamaciones en las vueltas que considere y con posibilidad de sacar incluso un SC/VSC en carrera.</li>
      <li class = "text-lg font-normal">6.06.- Al finalizar la carrera, queda prohibido hacer cuualquier tipo de celebración, trompo, zig-zag o similares dentro de la pista, cuando se esté cerca de otro piloto. Si se está solo, excepto trompos, se permiten esos tipos de celebraciones dentro de pista.</li>
      <ul>
        <li class = "text-lg font-normal">6.06.1.- Se recomienda volver de una manera ordenada a los boxes, pero tambien se permite hacer esc+box, siempre que este se haga después de la primera curva o fuera de pista.</li>
        <li class = "text-lg font-normal">6.06.2.- Si se quiere volver a box conduciendo, esto se hará a una velocidad algo más lenta que la velocidad de carrera y en una unica fila. Solo se permite hacer paralelos de 2 o más coches si se deja un espacio de 1 coche en algún extremo de la pista para que los demás pilotos puedan pasar.</li>
        <li class = "text-lg font-normal">6.06.3.- Dentro de pista, los tipos de celebraciones que se permiten, estando solos o con gente que esté dentro del mismo canal de voz, ya que se entiende que es coordinado, son zig-zags, quemada de rueda, drift o paseo en paralelo, si el ancho del circuito lo permite; y todo esto se tiene que hacer sin detener el coche, salvo perdida del control del mismo. Fuera de pista se permite todo lo anterior más la posibilidad de hacer trompos, siempre y cuando no se entre en pista.</li>
        <li class = "text-lg font-normal">6.06.4.- Si hay pilotos que aun no han terminado la carrera, pero otros si, los pilotos que ya acabaron actuarán como pilotos que se les enseña bandera azul pero de manera exagerada, es decir, tienen que casi desaparecer de la pista y no molestar a los pilotos que aun están compitiendo.</li>
        <li class = "text-lg font-normal">6.06.5.- Solo al finalizar la carrera, si hay algún camino que lo permita, se puede transitar por él para llegar antes a boxes. Este camino tendrá que ser de asfalto o cemento, no sirven caminos de tierra o caminos inventados por el cesped. Y todos estos cortes de pist, tendrán que realizarse de manera segura, dejando pasar si es necesario a pilotos que aun van en carrera o pilotos que han decidido ir por la pista normal.</li>
      </ul>
      <li class = "text-lg font-normal">6.07.- Caracteristicas sobre consumos y desgastes del campeonato: Combustible (150%), Daños (100%), Neumáticos (125%), Multiplicador de Rebufo (100%)</li>
      <li class = "text-lg font-normal">6.08.- La organización solo reiniciará las sesiones oficiales cuando sean fallos de configuración del propio servidor o haya un accidente importante y se decida actuar.</li>
      <li class = "text-lg font-normal">6.09.- Ante una posible caída del servidor, si se ha cumplido el 75% del tiempo de carrera, la carrera quedará por finalizada; en caso contrario, se reanudaría en otro momento cuando dictamine la organización si así lo ve conveniente (si la organización ve correcto el tiempo transcurrido de la carrera aun no llegando a ese 75%, tendrá total libertad de elección de acabar o proseguir la carrera.)</li>
      <li class = "text-lg font-normal">6.10.- Es preferible que si un piloto tiene dudas de que no pueda terminar la carrera por problemas externos, por respeto a los demás pilotos deberá comunicarlo a la organización y no debería tomar la salida de la carrera.</li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    7.- Temas de Seguridad en Pista
    <ul>
      <li class = "text-lg font-normal">7.01.- El código de colores de banderas es el mismo que se usa en todas las competiciones profesionales y son:</li>
      <li class = "text-lg font-normal">7.01.1.- Bandera Amarilla: zona de peligro. Cuando se despliegue una bandera amarilla en pista, hay que ir con la máxima precaución, tanto como si eres el que la provocó como si vas bien por la pista.</li>
      <li class = "text-lg font-normal">7.01.3.- Bandera Azul: coche en una vuelta o más que tú está aproximandose. Cuando un piloto vea la bandera azul, ha de respetarla y dejarse pasar en el sitio que más seguro le parezca y donde menos haga perder tiempo tanto al compañero como a él mismo. El piloto doblado se recomienda que no reduzca exageradamente la velocidad ni se salga de pista porque esto puede provocar algún accidente peor. Y el piloto que va a doblar, respetar al compañero doblado y no impacientarse y tirar el coche donde no hay hueco, mejor espera a que el doblado se deje pasar en sitios seguros (intentar leer al compañero.)</li>
      <li class = "text-lg font-normal">7.01.4.- Bandera Verde: reanudación de carrera. Esta bandera saldrá cuando se termine una zona de bandera amarilla o cuando empiece la carrera.</li>
      <li class = "text-lg font-normal">7.01.5.- Bandera a cuadros: final de carrera. Cuando se vea esta bandera al cruzar linea de meta, hay que respetar el punto de normativa 6.06.</li>
      <li class = "text-lg font-normal">7.01.6.- Bandera Roja: fin de sesión. Esta bandera será desplegada cuando haya algún problema en pista o en cualquier otro ambito y se desea que los pilotos vuelvan al box por seguridad. Si fuese necesario, podría darse la situación de tener que aparcar el coche en pista; el piloto tiene que estar atento y conducir despacio.</li>
      <li class = "text-lg font-normal">7.01.7.- Bandera Blanca y Negra: sanción. Esta bandera se enseñará a los pilotos que cometan alguna infracción y hayan sido sancionados, como por exceso de cortes de pista o por saltarse la salida entre otras opciones.</li>
      <li class = "text-lg font-normal">7.01.8.- Cartel de SC/VSC: Safety Car en pista. Cuando salga este cartel o esta bandera, significará que el coche de seguridad está en pista, ya sea el físico o el virtual. Si el coche de seguridad sale, hay que ir respetando al coche que se tiene delante sin adelantarlo o hacer paralelos. Si es un coche de seguridad virtual, el coche que vaya primero marcará el ritmo de seguridad y no se podrá adelantar nadie ni ponerse en paralelo con otro piloto. Los unicos adelantamientos permitidos bajo estos periodos son entre las lineas de SC pintadas horizontalmente si algún piloto entra en boxes.</li>
    </ul>
    <li class = "text-lg font-normal">7.02.- Las incoporaciones a la pista han de ser lo más seguras que sean posibles y si no es posible quitarse de la pista o trazada, quedarse quieto hasta que pase el peligro de los demás coches que van corriendo, porque si no se puede provocar un accidente mayor.</li>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    8.- Calendario
    <ul>
      <li class = "text-lg font-normal">8.01.- </li>

    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    9.- Puntuaciones
    <ul>
      <li class = "text-lg font-normal">9.01.- </li>
      <li class = "text-lg font-normal">9.02.- Asignación de puntos a vueltas rápidas</li>
      <ul>
        <li class = "text-lg font-normal">9.02.1.- Solo se otorgará los puntos de vuelta rápida a aquel piloto que termine la carrera. Si se produce un DNF, el piloto mantendrá la vuelta rápida pero no recibirá los puntos correspondientes.</li>
        <li class = "text-lg font-normal">9.02.2.- Si el piloto con la vuelta rápida acaba siendo descalificado de la carrera, no se le otorgarán ni los puntos por vuelta rápida ni se le registrará como vuelta rápida de carrera. Si el 2º piloto con mejor vuelta tambien fuera descalificado, pasariamos al 3º piloto con vuelta más rápida, y así hasta encontrar al piloto más rápido sin ser descalificado.</li>
      </ul>
      <li class = "text-lg font-normal">9.03.- Puntuación por equipos (2 pilotos por equipo)</li>
      <ul>
        <li class = "text-lg font-normal">9.03.1.- Se basará en la puntuación obtenida por los componentes del equipo.</li>
        <li class = "text-lg font-normal">9.03.2.- No se permitirá cambios de compañeros en el transcurso del campeonato.</li>
        <li class = "text-lg font-normal">9.03.3.- Formación del equipo en cualquier momento del campeonato, siendo validas las puntuaciones de todos los GP que hayan participado del campeonato.</li>
      </ul>
      <li class = "text-lg font-normal">9.04.- En caso de empate en las clasificaciones, se resuelven de la siguiente manera:</li>
      <ul>
        <li class = "text-lg font-normal">9.04.1.- Quien tenga la mejor posición en alguna carrera. Si tienen la mejor posición, se mirará la 2ª mejor y así hasta encontrar alguna diferente.</li>
        <li class = "text-lg font-normal">9.04.2.- Si empatán con las mismas posiciones obtenidas en todas las carreras, se mirará quien tiene más vueltas rápidas.</li>
        <li class = "text-lg font-normal">9.04.3.- Si tienen las mismas vueltas rápidas, se mirará quien consiguio antes su mejor posición.</li>
        <li class = "text-lg font-normal">9.04.4.- En el campeonato por equipos, se seguirán las mismas reglas, pero con los dos pilotos de cada equipo.</li>
      </ul>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    10.- Skins Personalizadas
    <ul>
      <li class = "text-lg font-normal">10.01.- </li>
      <li class = "text-lg font-normal">10.02.- </li>
      <li class = "text-lg font-normal">10.03.- </li>
      <li class = "text-lg font-normal">10.04.- </li>
      <li class = "text-lg font-normal">10.05.- </li>
      <li class = "text-lg font-normal">10.06.- </li>
      <li class = "text-lg font-normal">10.07.- </li>
      <li class = "text-lg font-normal">10.08.- </li>
      <li class = "text-lg font-normal">10.09.- </li>
      <li class = "text-lg font-normal">10.10.- </li>
      <li class = "text-lg font-normal">10.11.- </li>
      <li class = "text-lg font-normal">10.12.- </li>
      <li class = "text-lg font-normal">10.13.- </li>
      <li class = "text-lg font-normal">10.14.- </li>
      <li class = "text-lg font-normal">10.15.- </li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    11.- Sanciones
    <ul>
      <li class = "text-lg font-normal">11.01.- </li>
      <li class = "text-lg font-normal">11.02.- </li>
      <li class = "text-lg font-normal">11.03.- </li>
      <li class = "text-lg font-normal">11.04.- </li>
      <li class = "text-lg font-normal">11.05.- </li>
      <li class = "text-lg font-normal">11.06.- </li>
      <li class = "text-lg font-normal">11.07.- </li>
      <li class = "text-lg font-normal">11.08.- </li>
      <li class = "text-lg font-normal">11.09.- </li>
      <li class = "text-lg font-normal">11.10.- </li>
      <li class = "text-lg font-normal">11.11.- </li>
      <li class = "text-lg font-normal">11.12.- </li>
      <li class = "text-lg font-normal">11.13.- </li>
      <li class = "text-lg font-normal">11.14.- </li>
      <li class = "text-lg font-normal">11.15.- </li>
      <li class = "text-lg font-normal">11.16.- </li>
      <li class = "text-lg font-normal">11.17.- </li>
    </ul>
  </li>

  <li class = "pb-3 text-xl font-medium text-justify list-none">
    12.- Información Extra
    <ul>
      <li class = "text-lg font-normal">12.01.- </li>
    </ul>
  </li>

</article>