---
import Header from "@/sections/HeaderProfile.astro";
import { ClientRouter } from "astro:transitions";

import  SpeedInsights  from "@vercel/speed-insights/astro"

// Supports weights 100-900
import '@fontsource-variable/montserrat';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class = "bg-dark-primary" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"  rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
  </head>
  <body>
    <Header />
    <main class="pt-4 pl-3 sm:ml-64">
      <slot />
      <script>
        import { showToast, checkAndShowSavedToast } from '@/lib/toast';

        declare global {
          interface Window {
            showToast: typeof showToast;
          }
        }
        window.showToast = showToast;
        document.addEventListener('DOMContentLoaded', checkAndShowSavedToast);
      </script>
    </main>

  </body>
</html>

<style is:global>
  html {
		color-scheme: dark light;
    font-family: 'Montserrat Variable', sans-serif;
  }
</style>
